---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer awesometokenawesometokenawesometoken
      Content-Type:
      - application/json
    url: https://api.linode.com/v4/linode/kernels
    method: GET
  response:
    body: '{"results": 224, "data": [{"pvops": true, "id": "linode/latest-2.6-32bit",
      "xen": true, "kvm": false, "architecture": "i386", "label": "Latest 2.6 (010.020.030.040-linode34)",
      "version": "2.6.39"}, {"pvops": false, "id": "linode/latest-2.6", "xen": false,
      "kvm": false, "architecture": "i386", "label": "Latest 2.6 Stable (010.020.030.040-linode44)",
      "version": "2.6.24"}, {"pvops": true, "id": "linode/latest-32bit", "xen": true,
      "kvm": true, "architecture": "i386", "label": "Latest 32 bit (4.15.13-x86-linode125)",
      "version": "4.15.13"}, {"pvops": false, "id": "linode/010.020.030.040-linode22", "xen"[...]
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer awesometokenawesometokenawesometoken
      Content-Type:
      - application/json
    url: https://api.linode.com/v4/linode/kernels?page=2
    method: GET
  response:
    body: '{"data": [{"architecture": "i386", "pvops": true, "id": "linode/010.020.030.040-linode21",
      "xen": true, "version": "2.6.31", "label": "010.020.030.040-linode21", "kvm": false},
      {"architecture": "i386", "pvops": false, "id": [...]
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer awesometokenawesometokenawesometoken
      Content-Type:
      - application/json
    url: https://api.linode.com/v4/linode/kernels?page=3
    method: GET
  response:
    body: '{"pages": 3, "page": 3, "data": [{"xen": true, "label": "010.020.030.040-x86_64-linode16",
      "architecture": "x86_64", "kvm": false, "id": "linode/010.020.030.040-x86_64-linode16",
      "version": "2.6.35", "pvops": true}, {"xen": true, "label": "010.020.030.040-x86_64-linode15",
      "architecture": "x86_64", "kvm": false, "id": "linode/010.020.030.040-x86_64-linode15",
      "version": "2.6.32", "pvops": true}, {"xen": true, "label": "2.6.34-x86_64-linode13",
      "architecture": "x86_64", "kvm": false, "i[...]
