---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer awesometokenawesometokenawesometoken
      Content-Type:
      - application/json
      X-Filter:
      - '{"foo":"bar"}'
    url: https://api.linode.com/v4/images
    method: GET
  response:
    body: '{"errors": [{"reason": "Cannot filter on foo", "field": "X-Filter"}]}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - "15"
      X-Accepted-Oauth-Scopes:
      - '*'
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
      X-Ratelimit-Remaining:
      - "391"
      X-Ratelimit-Reset:
      - "1530581959"
      X-Spec-Version:
      - 4.0.2
    status: 400 BAD REQUEST
    code: 400
    duration: ""
