---
version: 1
interactions:
- request:
    body: '{"label":"example stackscript 2018-07-02 21:38:59.359080755 -0400 EDT m=+12.683062581","description":"description
      for example stackscript 2018-07-02 21:38:59.359068029 -0400 EDT m=+12.683049855","images":["linode/debian9","linode/ubuntu18.04"],"is_public":false,"rev_note":"revision
      1","script":"#!/bin/bash\n"}'
    form: {}
    headers:
      Authorization:
      - Bearer awesometokenawesometokenawesometoken
      Content-Type:
      - application/json
    url: https://api.linode.com/v4/linode/stackscripts
    method: POST
  response:
    body: '{"user_defined_fields": [], "images": ["linode/debian9", "linode/ubuntu18.04"],
      "is_public": false, "user_gravatar_id": "8293c9dd7d457c488afaee7fea921610",
      "created": "2018-01-02T03:04:05", "description": "description for example stackscript
      2018-07-02 21:38:59.359068029 -0400 EDT m=+12.683049855", "deployments_active":
      0, "script": "#!/bin/bash\n", "updated": "2018-01-02T03:04:05", "rev_note":
      "revision 1", "username": "restricted_tester", "id": 324986, "deployments_total":
      0, "label": "example stackscript 2018-07-02 21:38:59.359080755 -0400 EDT m=+12.683062581"}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - "17"
      X-Accepted-Oauth-Scopes:
      - stackscripts:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
      X-Ratelimit-Remaining:
      - "390"
      X-Ratelimit-Reset:
      - "1530581957"
      X-Spec-Version:
      - 4.0.2
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"label":"2 example stackscript 2018-07-02 21:38:59.359080755 -0400 EDT
      m=+12.683062581","description":"description for example stackscript 2018-07-02
      21:38:59.359068029 -0400 EDT m=+12.683049855","images":["linode/debian9","linode/ubuntu18.04"],"is_public":false,"rev_note":"revision
      2","script":"#!/bin/bash\necho 2\n"}'
    form: {}
    headers:
      Authorization:
      - Bearer awesometokenawesometokenawesometoken
      Content-Type:
      - applicatio[...]
[...]
