---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer awesometokenawesometokenawesometoken
      Content-Type:
      - application/json
    url: https://api.linode.com/v4/linode/instances/1231
    method: GET
  response:
    body: '{"errors": [{"reason": "Not found"}]}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - "23"
      X-Accepted-Oauth-Scopes:
      - linodes:read_only
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
      X-Ratelimit-Remaining:
      - "391"
      X-Ratelimit-Reset:
      - "1530581957"
      X-Spec-Version:
      - 4.0.2
    status: 404 NOT FOUND
    code: 404
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer awesometokenawesometokenawesometoken
      Content-Type:
      - application/json
    url: https://api.linode.com/v4/linode/instances
    method: GET
  response:
    body: '{"data": [{"region": "us-east", "alerts": {"network_in": 10, "network_out":
      10, "io": 10000, "cpu": 90, "transfer_quota": 80}, "specs": {"disk": 51200,
      "transfer": 2000, "vcpus": 1, "memory": 2048}, "image": "linode/ubuntu18.04",
      "created": "2018-01-02T03:04:05", "ipv6": "1234::5678/64",
      "hypervisor": "kvm", "ipv4": ["010.020.030.040", "192.168.030.040"], "updated":
      "2018-01-02T03:04:05", "watchdog_enabled": true, "group": "", "id": 76859403,
      "status": "running", "backups": {"schedule": {"day": "Monday", "window": "W16"},
      "enabled": true}, "label": "test-linode", "type": "g6-standard-1"}], "page":
      1, "pages": 1, "results": 1}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - "22"
      X-Accepted-Oauth-Scopes:
      - linodes:read_only
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
      X-Ratelimit-Remaining:
      - "394"
      X-Ratelimit-Reset:
      - "1530581957"
      X-Spec-Version:
      - 4.0.2
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer awesometokenawesometokenawesometoken
      Content-Type:
      - application/json
    url: https://api.linode.com/v4/linode/instances/76859403/configs
    method: GET
  response:
    body: '{"results": 1, "data": [{"memory_limit": 0, "kernel": "linode/grub2", "label":
      "My Ubuntu 18.04 LTS Disk Profile", "virt_mode": "paravirt", "comments": "",
      "root_device": "/dev/sda", "updated": "2018-01-02T03:04:05", "created": "2018-01-02T03:04:05",
      "id": 9958462, "initrd": null, "helpers": {"distro": true, "devtmpfs_automount":
      true, "modules_dep": true, "updatedb_disabled": true, "network": true}, "run_level":
      "default", "devices": {"sdh": null, "sdf": null, "sdc": {"disk_id": null, "volume_id":
      6574839201}, "sda": {"disk_id": 18974977, "volume_id": null}, "sde": null, "sdd":
      null, "sdg": null, "sdb": {"disk_id": 18974978, "volume_id": null}}}], "pages":
      1, "page": 1}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - "22"
      X-Accepted-Oauth-Scopes:
      - linodes:read_only
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
      X-Ratelimit-Remaining:
      - "390"
      X-Ratelimit-Reset:
      - "1530581957"
      X-Spec-Version:
      - 4.0.2
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer awesometokenawesometokenawesometoken
      Content-Type:
      - application/json
    url: https://api.linode.com/v4/linode/instances/76859403/configs/9958462
    method: GET
  response:
    body: '{"initrd": null, "kernel": "linode/grub2", "devices": {"sdh": null, "sdf":
      null, "sda": {"disk_id": 18974977, "volume_id": null}, "sdb": {"disk_id": 18974978,
      "volume_id": null}, "sde": null, "sdd": null, "sdg": null, "sdc": {"disk_id":
      null, "volume_id": 6574839201}}, "comments": "", "created": "2018-01-02T03:04:05",
      "root_device": "/dev/sda", "memory_limit": 0, "run_level": "default", "updated":
      "2018-01-02T03:04:05", "virt_mode": "paravirt", "id": 9958462, "helpers": {"modules_dep":
      true, "updatedb_disabled": true, "devtmpfs_automount": true, "network": true,
      "distro": true}, "label": "My Ubuntu 18.04 LTS Disk Profile"}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - "21"
      X-Accepted-Oauth-Scopes:
      - linodes:read_only
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
      X-Ratelimit-Remaining:
      - "393"
      X-Ratelimit-Reset:
      - "1530581957"
      X-Spec-Version:
      - 4.0.2
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer awesometokenawesometokenawesometoken
      Content-Type:
      - application/json
    url: https://api.linode.com/v4/linode/instances/76859403/disks
    method: GET
  response:
    body: '{"pages": 1, "page": 1, "data": [{"updated": "2018-01-02T03:04:05", "label":
      "Ubuntu 18.04 LTS Disk", "created": "2018-01-02T03:04:05", "filesystem": "ext4",
      "status": "ready", "size": 50688, "id": 18974977}, {"updated": "2018-01-02T03:04:05",
      "label": "512 MB Swap Image", "created": "2018-01-02T03:04:05", "filesystem":
      "swap", "status": "ready", "size": 512, "id": 18974978}], "results": 2}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - "22"
      X-Accepted-Oauth-Scopes:
      - linodes:read_only
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
      X-Ratelimit-Remaining:
      - "394"
      X-Ratelimit-Reset:
      - "1530581958"
      X-Spec-Version:
      - 4.0.2
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer awesometokenawesometokenawesometoken
      Content-Type:
      - application/json
    url: https://api.linode.com/v4/linode/instances/76859403/disks/18974977
    method: GET
  response:
    body: '{"created": "2018-01-02T03:04:05", "id": 18974977, "filesystem": "ext4",
      "status": "ready", "label": "Ubuntu 18.04 LTS Disk", "updated": "2018-01-02T03:04:05",
      "size": 50688}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - "21"
      X-Accepted-Oauth-Scopes:
      - linodes:read_only
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
      X-Ratelimit-Remaining:
      - "389"
      X-Ratelimit-Reset:
      - "1530581957"
      X-Spec-Version:
      - 4.0.2
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer awesometokenawesometokenawesometoken
      Content-Type:
      - application/json
    url: https://api.linode.com/v4/linode/instances/76859403/backups
    method: GET
  response:
    body: '{"snapshot": {"in_progress": null, "current": {"configs": ["My Ubuntu 18.04
      LTS Disk Profile"], "status": "successful", "finished": "2018-01-02T03:04:05",
      "updated": "2018-01-02T03:04:05", "type": "snapshot", "region": "us-east", "id":
      96509901, "disks": [{"filesystem": "ext4", "label": "Ubuntu 18.04 LTS Disk",
      "size": 2320}, {"filesystem": "swap", "label": "512 MB Swap Image", "size":
      0}], "created": "2018-01-02T03:04:05", "label": "test-snapshot"}}, "automatic":
      []}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - "20"
      X-Accepted-Oauth-Scopes:
      - linodes:read_only
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
      X-Ratelimit-Remaining:
      - "392"
      X-Ratelimit-Reset:
      - "1530581957"
      X-Spec-Version:
      - 4.0.2
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer awesometokenawesometokenawesometoken
      Content-Type:
      - application/json
    url: https://api.linode.com/v4/linode/instances/76859403/backups/96509901
    method: GET
  response:
    body: '{"label": "test-snapshot", "region": "us-east", "status": "successful",
      "updated": "2018-01-02T03:04:05", "finished": "2018-01-02T03:04:05", "id": 96509901,
      "type": "snapshot", "configs": ["My Ubuntu 18.04 LTS Disk Profile"], "disks":
      [{"label": "Ubuntu 18.04 LTS Disk", "size": 2320, "filesystem": "ext4"}, {"label":
      "512 MB Swap Image", "size": 0, "filesystem": "swap"}], "created": "2018-01-02T03:04:05"}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - "21"
      X-Accepted-Oauth-Scopes:
      - linodes:read_only
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
      X-Ratelimit-Remaining:
      - "393"
      X-Ratelimit-Reset:
      - "1530581958"
      X-Spec-Version:
      - 4.0.2
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer awesometokenawesometokenawesometoken
      Content-Type:
      - application/json
    url: https://api.linode.com/v4/linode/instances/76859403/volumes
    method: GET
  response:
    body: '{"results": 1, "data": [{"created": "2018-01-02T03:04:05", "id": 6574839201,
      "linode_id": 76859403, "label": "test-volume", "filesystem_path": "/dev/disk/by-id/scsi-0Linode_Volume_test-volume",
      "region": "us-east", "status": "active", "size": 10, "updated": "2018-01-02T03:04:05"}],
      "pages": 1, "page": 1}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - "19"
      X-Accepted-Oauth-Scopes:
      - linodes:read_only
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
      X-Ratelimit-Remaining:
      - "388"
      X-Ratelimit-Reset:
      - "1530581957"
      X-Spec-Version:
      - 4.0.2
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer awesometokenawesometokenawesometoken
      Content-Type:
      - application/json
    url: https://api.linode.com/v4/volumes/6574839201
    method: GET
  response:
    body: '{"filesystem_path": "/dev/disk/by-id/scsi-0Linode_Volume_test-volume",
      "updated": "2018-01-02T03:04:05", "region": "us-east", "id": 6574839201, "status":
      "active", "label": "test-volume", "size": 10, "created": "2018-01-02T03:04:05",
      "linode_id": 76859403}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - "20"
      X-Accepted-Oauth-Scopes:
      - volumes:read_only
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
      X-Ratelimit-Remaining:
      - "390"
      X-Ratelimit-Reset:
      - "1530581958"
      X-Spec-Version:
      - 4.0.2
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer awesometokenawesometokenawesometoken
      Content-Type:
      - application/json
      X-Filter:
      - '{"mine":true}'
    url: https://api.linode.com/v4/linode/stackscripts
    method: GET
  response:
    body: '{"pages": 1, "page": 1, "data": [{"script": "#!/bin/bash\n# <UDF name=\"gh_username\"
      Label=\"GitHub Username\" example=\"GitHub User account to create with sudo
      access\" />\nsource <ssinclude StackScriptID=1>\nsource <ssinclude StackScriptID=10079>\n\nexport
      MYSQL_PW=$(mktemp tmp.XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX)\ncat > ~/.screenrc
      <<EOF\nshell \"/bin/bash\"\nstartup_message off\n\nscreen -t htop\nselect $((++i))\nstuff
      \"htop ^M\"\n\nscreen -t iotop\nselect $((++i))\nstuff \"iotop ^M\"\n\nscreen
      -t iostat\nselect $((++i))\nstuff \"iostat 1 ^M\"\n\nscreen -t disk\nselect
      $((++i))\nstuff \"while sleep 10; do sysbench --test=oltp --oltp-table-size=1[...]
