---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer awesometokenawesometokenawesometoken
      Content-Type:
      - application/json
    url: https://api.linode.com/v4/longview/subscriptions?page=1
    method: GET
  response:
    body: '{"results": 4, "data": [{"clients_included": 3, "label": "Longview Pro
      3 pack", "price": {"hourly": 0.03, "monthly": 20.0}, "id": "longview-3"}, {"clients_included":
      10, "label": "Longview Pro 10 pack", "price": {"hourly": 0.06, "monthly": 40.0},
      "id": "longview-10"}, {"clients_included": 40, "label": "Longview Pro 40 pack",
      "price": {"hourly": 0.15, "monthly": 100.0}, "id": "longview-40"}, {"clients_included":
      100, "label": "Longview Pro 100 pack", "price": {"hourly": 0.3, "monthly": 200.0},
      "id": "longview-100"}], "pages": 1, "page": 1}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - "13"
      X-Accepted-Oauth-Scopes:
      - '*'
      X-Oauth-Scopes:
      - unknown
      X-Ratelimit-Limit:
      - "400"
      X-Ratelimit-Remaining:
      - "382"
      X-Ratelimit-Reset:
      - "1530581957"
      X-Spec-Version:
      - 4.0.2
    status: 200 OK
    code: 200
    duration: ""
