---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer awesometokenawesometokenawesometoken
      Content-Type:
      - application/json
      X-Filter:
      - '{"label":"Recovery - Finnix (kernel)"}'
    url: https://api.linode.com/v4/linode/kernels
    method: GET
  response:
    body: '{"results": 2, "data": [{"pvops": false, "id": "linode/finnix", "xen":
      true, "kvm": true, "architecture": "x86_64", "label": "Recovery - Finnix (kernel)",
      "version": "4.1.2"}, {"pvops": false, "id": "linode/finnix-legacy", "xen": false,
      "kvm": false, "architecture": "i386", "label": "Recovery - Finnix (kernel)",
      "version": "2.6.14"}], "pages": 1, "page": 1}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - "14"
      X-Accepted-Oauth-Scopes:
      - '*'
      X-Oauth-Scopes:
      - unknown
      X-Ratelimit-Limit:
      - "400"
      X-Ratelimit-Remaining:
      - "384"
      X-Ratelimit-Reset:
      - "1530581957"
      X-Spec-Version:
      - 4.0.2
    status: 200 OK
    code: 200
    duration: ""
