---
version: 1
interactions:
- request:
    body: '{"region":"us-east","client_conn_throttle":20}'
    form: {}
    headers:
      Authorization:
      - Bearer awesometokenawesometokenawesometoken
      Content-Type:
      - application/json
    url: https://api.linode.com/v4/nodebalancers
    method: POST
  response:
    body: '{"region": "us-east", "created": "2018-01-02T03:04:05", "updated": "2018-01-02T03:04:05",
      "ipv6": "1234::5678", "hostname": "nb-10-20-30-40.newark.nodebalancer.linode.com",
      "ipv4": "010.020.030.040", "label": "balancer36398", "client_conn_throttle": 20,
      "id": 36398, "transfer": {"total": null, "out": null, "in": null}}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - "91"
      X-Accepted-Oauth-Scopes:
      - nodebalancers:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
      X-Ratelimit-Remaining:
      - "395"
      X-Ratelimit-Reset:
      - "1530843852"
      X-Spec-Version:
      - 4.0.2
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"port":80}'
    form: {}
    headers:
      Authorization:
      - Bearer awesometokenawesometokenawesometoken
      Content-Type:
      - application/json
    url: https://api.linode.com/v4/nodebalancers/36398/configs
    method: POST
  response:
    body: '{"algorithm": "roundrobin", "check_timeout": 30, "check_path": "", "ssl_key":
      null, "id": 32601, "stickiness": "none", "protocol": "http", "check_body": "",
      "nodes_status": {"up": 0, "down": 0}, "check": "none", "port": 80, "check_interval":
      0, "nodebalancer_id": 36398, "cipher_suite": "recommended", "ssl_commonname":
      "", "ssl_cert": null, "ssl_fingerprint": "", "check_passive": true, "check_attempts":
      3}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - "90"
      X-Accepted-Oauth-Scopes:
      - nodebalancers:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
      X-Ratelimit-Remaining:
      - "391"
      X-Ratelimit-Reset:
      - "1530843852"
      X-Spec-Version:
      - 4.0.2
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"address":"192.168.030.040:80","label":"192.168.030.040-80"}'
    form: {}
    headers:
      Authorization:
      - Bearer awesometokenawesometokenawesometoken
      Content-Type:
      - application/json
    url: https://api.linode.com/v4/nodebalancers/36398/configs/32601/nodes
    method: POST
  response:
    body: '{"id": 313257, "address": "192.168.030.040:80", "mode": "accept", "nodebalancer_id":
      36398, "status": "Unknown", "weight": 50, "config_id": 32601, "label": "192.168.030.040-80"}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - "103"
      X-Accepted-Oauth-Scopes:
      - nodebalancers:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
      X-Ratelimit-Remaining:
      - "395"
      X-Ratelimit-Reset:
      - "1530843865"
      X-Spec-Version:
      - 4.0.2
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"address":"192.168.030.040:8080","label":"192.168.030.040-80","weight":50,"mode":"accept"}'
    form: {}
    headers:
      Authorization:
      - Bearer awesometokenawesometokenawesometoken
      Content-Type:
      - application/json
    url: https://api.linode.com/v4/nodebalancers/36398/configs/32601/nodes/313257
    method: PUT
  response:
    body: '{"mode": "accept", "status": "Unknown", "config_id": 32601, "id": 313257,
      "nodebalancer_id": 36398, "label": "192.168.030.040-80", "weight": 50, "address":
      "192.168.030.040:8080"}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - "90"
      X-Accepted-Oauth-Scopes:
      - nodebalancers:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
      X-Ratelimit-Remaining:
      - "394"
      X-Ratelimit-Reset:
      - "1530843852"
      X-Spec-Version:
      - 4.0.2
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer awesometokenawesometokenawesometoken
      Content-Type:
      - application/json
    url: https://api.linode.com/v4/nodebalancers/36398/configs/32601/nodes
    method: GET
  response:
    body: '{"data": [{"mode": "accept", "status": "Unknown", "config_id": 32601, "id":
      313257, "nodebalancer_id": 36398, "label": "192.168.030.040-80", "weight": 50,
      "address": "192.168.030.040:8080"}], "pages": 1, "page": 1, "results": 1}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - "91"
      X-Accepted-Oauth-Scopes:
      - nodebalancers:read_only
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
      X-Ratelimit-Remaining:
      - "396"
      X-Ratelimit-Reset:
      - "1530843854"
      X-Spec-Version:
      - 4.0.2
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer awesometokenawesometokenawesometoken
      Content-Type:
      - application/json
    url: https://api.linode.com/v4/nodebalancers/36398/configs/32601
    method: DELETE
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - "88"
      X-Accepted-Oauth-Scopes:
      - nodebalancers:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
      X-Ratelimit-Remaining:
      - "393"
      X-Ratelimit-Reset:
      - "1530843852"
      X-Spec-Version:
      - 4.0.2
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer awesometokenawesometokenawesometoken
      Content-Type:
      - application/json
    url: https://api.linode.com/v4/nodebalancers/36398
    method: DELETE
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - "101"
      X-Accepted-Oauth-Scopes:
      - nodebalancers:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
      X-Ratelimit-Remaining:
      - "397"
      X-Ratelimit-Reset:
      - "1530843865"
      X-Spec-Version:
      - 4.0.2
    status: 200 OK
    code: 200
    duration: ""
