---
version: 1
interactions:
- request:
    body: '{"region":"us-east","client_conn_throttle":20}'
    form: {}
    headers:
      Authorization:
      - Bearer awesometokenawesometokenawesometoken
      Content-Type:
      - application/json
    url: https://api.linode.com/v4/nodebalancers
    method: POST
  response:
    body: '{"ipv6": "1234::5678", "updated": "2018-01-02T03:04:05", "label":
      "balancer36397", "id": 36397, "region": "us-east", "hostname": "nb-10-20-30-40.newark.nodebalancer.linode.com",
      "client_conn_throttle": 20, "created": "2018-01-02T03:04:05", "ipv4": "010.020.030.040",
      "transfer": {"total": null, "in": null, "out": null}}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - "106"
      X-Accepted-Oauth-Scopes:
      - nodebalancers:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
      X-Ratelimit-Remaining:
      - "398"
      X-Ratelimit-Reset:
      - "1530843865"
      X-Spec-Version:
      - 4.0.2
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"port":80}'
    form: {}
    headers:
      Authorization:
      - Bearer awesometokenawesometokenawesometoken
      Content-Type:
      - application/json
    url: https://api.linode.com/v4/nodebalancers/36397/configs
    method: POST
  response:
    body: '{"id": 32600, "check_attempts": 3, "check_timeout": 30, "ssl_cert": null,
      "algorithm": "roundrobin", "ssl_key": null, "stickiness": "none", "port": 80,
      "check_interval": 0, "check_path": "", "nodebalancer_id": 36397, "check_body":
      "", "check": "none", "protocol": "http", "nodes_status": {"down": 0, "up": 0},
      "cipher_suite": "recommended", "ssl_fingerprint": "", "check_passive": true,
      "ssl_commonname": ""}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - "92"
      X-Accepted-Oauth-Scopes:
      - nodebalancers:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
      X-Ratelimit-Remaining:
      - "396"
      X-Ratelimit-Reset:
      - "1530843851"
      X-Spec-Version:
      - 4.0.2
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"port":8080,"protocol":"http","algorithm":"roundrobin","stickiness":"none","check":"none","check_attempts":3,"check_passive":true,"cipher_suite":"recommended"}'
    form: {}
    headers:
      Authorization:
      - Bearer awesometokenawesometokenawesometoken
      Content-Type:
      - application/json
    url: https://api.linode.com/v4/nodebalancers/36397/configs/32600
    method: PUT
  response:
    body: '{"check": "none", "protocol": "http", "check_interval": 0, "cipher_suite":
      "recommended", "nodebalancer_id": 36397, "ssl_fingerprint": "", "check_path":
      "", "id": 32600, "stickiness": "none", "check_timeout": 30, "nodes_status":
      {"up": 0, "down": 0}, "check_passive": true, "algorithm": "roundrobin", "check_attempts":
      3, "port": 8080, "check_body": "", "ssl_commonname": "", "ssl_key": null, "ssl_cert":
      null}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - "93"
      X-Accepted-Oauth-Scopes:
      - nodebalancers:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
      X-Ratelimit-Remaining:
      - "396"
      X-Ratelimit-Reset:
      - "1530843852"
      X-Spec-Version:
      - 4.0.2
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer awesometokenawesometokenawesometoken
      Content-Type:
      - application/json
    url: https://api.linode.com/v4/nodebalancers/36397/configs
    method: GET
  response:
    body: '{"data": [{"algorithm": "roundrobin", "check_timeout": 30, "check_path":
      "", "ssl_key": null, "id": 32600, "stickiness": "none", "protocol": "http",
      "check_body": "", "nodes_status": {"up": 0, "down": 0}, "check": "none", "port":
      8080, "check_interval": 0, "nodebalancer_id": 36397, "cipher_suite": "recommended",
      "ssl_commonname": "", "ssl_cert": null, "ssl_fingerprint": "", "check_passive":
      true, "check_attempts": 3}], "results": 1, "page": 1, "pages": 1}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - "93"
      X-Accepted-Oauth-Scopes:
      - nodebalancers:read_only
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
      X-Ratelimit-Remaining:
      - "393"
      X-Ratelimit-Reset:
      - "1530843852"
      X-Spec-Version:
      - 4.0.2
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer awesometokenawesometokenawesometoken
      Content-Type:
      - application/json
    url: https://api.linode.com/v4/nodebalancers/36397
    method: DELETE
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - "91"
      X-Accepted-Oauth-Scopes:
      - nodebalancers:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
      X-Ratelimit-Remaining:
      - "394"
      X-Ratelimit-Reset:
      - "1530843851"
      X-Spec-Version:
      - 4.0.2
    status: 200 OK
    code: 200
    duration: ""
