---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer awesometokenawesometokenawesometoken
      Content-Type:
      - application/json
    url: https://api.linode.com/v4/images
    method: GET
  response:
    body: '{"pages": 1, "page": 1, "data": [{"label": "Arch Linux", "id": "linode/arch",
      "is_public": true, "description": null, "deprecated": false, "created_by": "linode",
      "size": 1800, "type": "manual", "vendor": "Arch", "created": "2018-01-02T03:04:05"},
      {"label": "CentOS 7", "id": "linode/centos7", "is_public": true, "description":
      null, "deprecated": false, "created_by": "linode", "size": 2000, "type": "manual",
      "vendor": "CentOS", "created": "2018-01-02T03:04:05"}, {"label": "CoreOS Container
      Linux", "id": "linode/containerlinux", "is_public": true, "description": null,
      "deprecated": false, "created_by": "linode", "size": 5000, "type": "manual",
      "vendor": "CoreOS", "created": "2018-[...]
