---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer awesometokenawesometokenawesometoken
      Content-Type:
      - application/json
    url: https://api.linode.com/v4/linode/kernels?page=1
    method: GET
  response:
    body: '{"data": [{"architecture": "i386", "pvops": true, "id": "linode/latest-2.6-32bit",
      "xen": true, "version": "2.6.39", "label": "Latest 2.6 (010.020.030.040-linode34)",
      "kvm": false}, {"architecture": "i386", "pvops": false, "id": "linode/latest-2.6",
      "xen": false, "version": "2.6.24", "label": "Latest 2.6 Stable (010.020.030.040-linode44)",
      "kvm": false}, {"architecture": "i386", "pvops": true, "id": "linode/latest-32bit",
      "xen": true, "version": "4.15.13", "label": "Latest 32 bit (4.15.13-x86-linode125)",
      "kvm": true}, {"architecture": "i386", "pvops": false, "id": "linode/010.020.030.040-linode22",
      "xen": true, "version": "2.6.18", "l[...]
