---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer awesometokenawesometokenawesometoken
      Content-Type:
      - application/json
    url: https://api.linode.com/v4/linode/types
    method: GET
  response:
    body: '{"results": 15, "data": [{"id": "g6-nanode-1", "memory": 1024, "transfer":
      1000, "class": "nanode", "price": {"hourly": 0.0075, "monthly": 5.0}, "vcpus":
      1, "label": "Nanode 1GB", "network_out": 1000, "addons": {"backups": {"price":
      {"hourly": 0.003, "monthly": 2.0}}}, "disk": 25600}, {"id": "g6-standard-1",
      "memory": 2048, "transfer": 2000, "class": "standard", "price": {"hourly": 0.015,
      "monthly": 10.0}, "vcpus": 1, "label": "Linode 2GB", "network_out": 2000, "addons":
      {"backups": {"price": {"hourly": 0.004, "monthly": 2.5}}}, "disk": 51200}, {"id":
      "g6-standard-2", "memory": 4096, "transfer": 4000, "class": "standard", "price":
      {"hourly": 0.03, "monthly": 20.0}, "vcpus": 2, "label": "Linode 4GB", "network_out":
      4000, "addons": {[...]
