---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer awesometokenawesometokenawesometoken
      Content-Type:
      - application/json
    url: https://api.linode.com/v4/linode/kernels/linode/latest-32bit
    method: GET
  response:
    body: '{"xen": true, "label": "Latest 32 bit (4.15.13-x86-linode125)", "architecture":
      "i386", "kvm": true, "id": "linode/latest-32bit", "version": "4.15.13", "pvops":
      true}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - "15"
      X-Accepted-Oauth-Scopes:
      - '*'
      X-Oauth-Scopes:
      - unknown
      X-Ratelimit-Limit:
      - "400"
      X-Ratelimit-Remaining:
      - "387"
      X-Ratelimit-Reset:
      - "1530581958"
      X-Spec-Version:
      - 4.0.2
    status: 200 OK
    code: 200
    duration: ""
[...]
