---
version: 1
interactions:
- request:
    body: '{"region":"us-east","client_conn_throttle":20}'
    form: {}
    headers:
      Authorization:
      - Bearer awesometokenawesometokenawesometoken
      Content-Type:
      - application/json
    url: https://api.linode.com/v4/nodebalancers
    method: POST
  response:
    body: '{"region": "us-east", "created": "2018-01-02T03:04:05", "updated": "2018-01-02T03:04:05",
      "ipv6": "1234::5678", "hostname": "nb-10-20-30-40.newark.nodebalancer.linode.com",
      "ipv4": "010.020.030.040", "label": "balancer36396", "client_conn_throttle": 20,
      "id": 36396, "transfer": {"total": null, "out": null, "in": null}}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - "97"
      X-Accepted-Oauth-Scopes:
      - nodebalancers:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
      X-Ratelimit-Remaining:
      - "398"
      X-Ratelimit-Reset:
      - "1530843854"
      X-Spec-Version:
      - 4.0.2
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer awesometokenawesometokenawesometoken
      Content-Type:
      - application/json
    url: https://api.linode.com/v4/nodebalancers/36396
    method: GET
  response:
    body: '{"ipv6": "1234::5678", "updated": "2018-01-02T03:04:05", "label":
      "balancer36396", "id": 36396, "region": "us-east", "hostname": "nb-10-20-30-40.newark.nodebalancer.linode.com",
      "client_conn_throttle": 20, "created": "2018-01-02T03:04:05", "ipv4": "010.020.030.040",
      "transfer": {"total": null, "in": null, "out": null}}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - "95"
      X-Accepted-Oauth-Scopes:
      - nodebalancers:read_only
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
      X-Ratelimit-Remaining:
      - "394"
      X-Ratelimit-Reset:
      - "1530843852"
      X-Spec-Version:
      - 4.0.2
    status: 200 OK
    code: 200
    duration: ""
[...]
