---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer awesometokenawesometokenawesometoken
      Content-Type:
      - application/json
    url: https://api.linode.com/v4/linode/instances
    method: GET
  response:
    body: '{"data": [{"region": "us-east", "alerts": {"network_in": 10, "network_out":
      10, "io": 10000, "cpu": 90, "transfer_quota": 80}, "specs": {"disk": 51200,
      "transfer": 2000, "vcpus": 1, "memory": 2048}, "image": "linode/ubuntu18.04",
      "created": "2018-01-02T03:04:05", "ipv6": "1234::5678/64",
      "hypervisor": "kvm", "ipv4": ["010.020.030.040", "192.168.030.040"], "updated":
      "2018-01-02T03:04:05", "watchdog_enabled": true, "group": "", "id": 76859403,
      "status": "running", "backups": {"schedule": {"day": "Monday", "window": "W16"},
      "enabled": true}, "label": "test-linode", "type": "g6-standard-1"}], "page":
      1, "pages": 1, "results": 1}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - "29"
      X-Accepted-Oauth-Scopes:
      - linodes:read_only
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
      X-Ratelimit-Remaining:
      - "394"
      X-Ratelimit-Reset:
      - "1530581958"
      X-Spec-Version:
      - 4.0.2
    status: 200 OK
    code: 200
    duration: ""
