---
version: 1
interactions:
- request:
    body: '{"domain":"0i9qdo990pj5sp91y79929x1iss4o6bj-linodego-testing.com","type":"master","soa_email":"example@example.com"}'
    form: {}
    headers:
      Authorization:
      - Bearer awesometokenawesometokenawesometoken
      Content-Type:
      - application/json
    url: https://api.linode.com/v4/domains
    method: POST
  response:
    body: '{"expire_sec": 0, "refresh_sec": 0, "type": "master", "group": "", "master_ips":
      [], "axfr_ips": [], "domain": "0i9qdo990pj5sp91y79929x1iss4o6bj-linodego-testing.com",
      "retry_sec": 0, "description": "", "soa_email": "example@example.com", "status":
      "active", "id": 1102872, "ttl_sec": 0}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - "117"
      X-Accepted-Oauth-Scopes:
      - domains:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
      X-Ratelimit-Remaining:
      - "399"
      X-Ratelimit-Reset:
      - "1532660690"
      X-Spec-Version:
      - 4.0.3
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"type":"A","name":"a","target":"010.020.030.040"}'
    form: {}
    headers:
      Authorization:
      - Bearer awesometokenawesometokenawesometoken
      Content-Type:
      - application/json
    url: https://api.linode.com/v4/domains/1102872/records
    method: POST
  response:
    body: '{"type": "A", "priority": 0, "protocol": null, "port": 0, "target": "010.020.030.040",
      "id": 10468361, "tag": null, "weight": 0, "service": null, "name": "a", "ttl_sec":
      0}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - "119"
      X-Accepted-Oauth-Scopes:
      - domains:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
      X-Ratelimit-Remaining:
      - "399"
      X-Ratelimit-Reset:
      - "1532660692"
      X-Spec-Version:
      - 4.0.3
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer awesometokenawesometokenawesometoken
      Content-Type:
      - application/json
    url: https://api.linode.com/v4/domains/1102872/records/10468361
    method: GET
  response:
    body: '{"id": 10468361, "priority": 0, "tag": null, "port": 0, "protocol": null,
      "service": null, "target": "010.020.030.040", "type": "A", "name": "a", "ttl_sec":
      0, "weight": 0}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - "113"
      X-Accepted-Oauth-Scopes:
      - domains:read_only
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
      X-Ratelimit-Remaining:
      - "398"
      X-Ratelimit-Reset:
      - "1532660686"
      X-Spec-Version:
      - 4.0.3
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer awesometokenawesometokenawesometoken
      Content-Type:
      - application/json
    url: https://api.linode.com/v4/domains/1102872
    method: DELETE
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - "118"
      X-Accepted-Oauth-Scopes:
      - domains:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
      X-Ratelimit-Remaining:
      - "398"
      X-Ratelimit-Reset:
      - "1532660692"
      X-Spec-Version:
      - 4.0.3
    status: 200 OK
    code: 200
    duration: ""
