---
version: 1
interactions:
- request:
    body: '{"label":"k5c3goc06a55-linodego-testing","region":"us-west","client_conn_throttle":20}'
    form: {}
    headers:
      Authorization:
      - Bearer awesometokenawesometokenawesometoken
      Content-Type:
      - application/json
    url: https://api.linode.com/v4/nodebalancers
    method: POST
  response:
    body: '{"transfer": {"out": null, "in": null, "total": null}, "hostname": "nb-10-20-30-40.fremont.nodebalancer.linode.com",
      "client_conn_throttle": 20, "updated": "2018-01-02T03:04:05", "region": "us-west",
      "ipv4": "010.020.030.040", "label": "k5c3goc06a55-linodego-testing", "created": "2018-01-02T03:04:05",
      "id": 37827, "ipv6": "1234::5678"}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - "118"
      X-Accepted-Oauth-Scopes:
      - nodebalancers:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
      X-Ratelimit-Remaining:
      - "399"
      X-Ratelimit-Reset:
      - "1533830751"
      X-Spec-Version:
      - 4.0.3
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer awesometokenawesometokenawesometoken
      Content-Type:
      - application/json
    url: https://api.linode.com/v4/nodebalancers
    method: GET
  response:
    body: '{"pages": 1, "results": 3, "page": 1, "data": [{"updated": "2018-01-02T03:04:05",
      "ipv4": "010.020.030.040", "label": "t6k62hg904dt-linodego-testing", "ipv6": "1234::5678",
      "transfer": {"in": 0.0030517578125, "out": 0.000152587890625, "total": 0.003204345703125},
      "hostname": "nb-10-20-30-40.fremont.nodebalancer.linode.com", "region": "us-west",
      "created": "2018-01-02T03:04:05", "id": 37819, "client_conn_throttle": 20},
      {"updated": "2018-01-02T03:04:05", "ipv4": "010.020.030.040", "label": "m77n609k4zny-linodeg[...]
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer awesometokenawesometokenawesometoken
      Content-Type:
      - application/json
    url: https://api.linode.com/v4/nodebalancers/37827
    method: DELETE
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - "119"
      X-Accepted-Oauth-Scopes:
      - nodebalancers:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
      X-Ratelimit-Remaining:
      - "399"
      X-Ratelimit-Reset:
      - "1533830752"
      X-Spec-Version:
      - 4.0.3
    status: 200 OK
    code: 200
    duration: ""
