---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer awesometokenawesometokenawesometoken
      Content-Type:
      - application/json
    url: https://api.linode.com/v4/linode/stackscripts?page=1
    method: GET
  response:
    body: '{"pages": 11, "page": 1, "data": [{"script": "#!/bin/bash\n# <udf name=\"webuzo_license_key\"
      label=\"Premium Webuzo License Key\" example=\"WEBUZO-XXXXX-XXXXX-XXXXX\"/>\n\n###########################################################################################################\n#
      Install Blesta and Softaculous Webuzo\n# Description -\n# About Webuzo :\n#   Webuzo
      is a Single User Control Panel which helps users deploy Web Apps (WordPress,
      Joomla, Drupal, etc)\n#   or System Apps (Apache, NGINX, PHP, Java, MongoDB,
      etc) on their[...]
