---
version: 1
interactions:
- request:
    body: '{"label":"9nmqn30r1v37-linodego-testing","region":"us-west","client_conn_throttle":20}'
    form: {}
    headers:
      Authorization:
      - Bearer awesometokenawesometokenawesometoken
      Content-Type:
      - application/json
    url: https://api.linode.com/v4/nodebalancers
    method: POST
  response:
    body: '{"transfer": {"out": null, "in": null, "total": null}, "hostname": "nb-10-20-30-40.fremont.nodebalancer.linode.com",
      "client_conn_throttle": 20, "updated": "2018-01-02T03:04:05", "region": "us-west",
      "ipv4": "010.020.030.040", "label": "9nmqn30r1v37-linodego-testing", "created":
      "2018-01-02T03:04:05", "id": 37818, "ipv6": "1234::5678"}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - "114"
      X-Accepted-Oauth-Scopes:
      - nodebalancers:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
      X-Ratelimit-Remaining:
      - "398"
      X-Ratelimit-Reset:
      - "1533830569"
      X-Spec-Version:
      - 4.0.3
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"label":"9nmqn30r1v37-linodego-testing_r"}'
    form: {}
    headers:
      Authorization:
      - Bearer awesometokenawesometokenawesometoken
      Content-Type:
      - application/json
    url: https://api.linode.com/v4/nodebalancers/37818
    method: PUT
  response:
    body: '{"updated": "2018-01-02T03:04:05", "ipv4": "010.020.030.040", "label": "9nmqn30r1v37-linodego-testing_r",
      "ipv6": "1234::5678", "transfer": {"in": null, "out": null, "total":
      null}, "hostname": "nb-10-20-30-40.fremont.nodebalancer.linode.com", "region":
      "us-west", "created": "2018-01-02T03:04:05", "id": 37818, "client_conn_throttle":
      20}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - "114"
      X-Accepted-Oauth-Scopes:
      - nodebalancers:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
      X-Ratelimit-Remaining:
      - "396"
      X-Ratelimit-Reset:
      - "1533830569"
      X-Spec-Version:
      - 4.0.3
    status: 200 OK
    code: 200
    duration: ""
[...]
