---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer awesometokenawesometokenawesometoken
      Content-Type:
      - application/json
    url: https://api.linode.com/v4/images
    method: GET
  response:
    body: '{"results": 19, "data": [{"created": "2018-01-02T03:04:05", "id": "linode/arch",
      "description": null, "deprecated": false, "vendor": "Arch", "label": "Arch Linux",
      "created_by": "linode", "is_public": true, "type": "manual", "size": 1800},
      {"created": "2018-01-02T03:04:05", "id": "linode/centos7", "description": null,
      "deprecated": false, "vendor": "CentOS", "label": "CentOS 7", "created_by":
      "linode", "is_public": true, "type": "manual", "size": 2000}, {"created": "2018-01-02T03:04:05",
      "id": "linode/containerlinux", "description": null, "deprecated": false, "vendor":
      "CoreOS", "label": "CoreOS Container Linux", "created_by": "linode", "is_public":
      true, "type": "manual", "size": 5000},[...]
