---
version: 1
interactions:
- request:
    body: '{"region":"us-west","type":"g6-nanode-1","label":"linodego-test-instance","booted":false}'
    form: {}
    headers:
      Authorization:
      - Bearer awesometokenawesometokenawesometoken
      Content-Type:
      - application/json
    url: https://api.linode.com/v4/linode/instances
    method: POST
  response:
    body: '{"created": "2018-01-02T03:04:05", "image": null, "id": 9588435, "updated":
      "2018-01-02T03:04:05", "backups": {"enabled": false, "schedule": {"day": null,
      "window": null}}, "ipv4": ["010.020.030.040"], "group": "", "watchdog_enabled":
      true, "label": "linodego-test-instance", "alerts": {"transfer_quota": 80, "cpu":
      90, "network_in": 10, "network_out": 10, "io": 10000}, "specs": {"memory": 1024,
      "disk": 25600, "transfer": 1000, "vcpus": 1}, "region": "us-west", "status":
      "provisioning", "ipv6": "1234::5678/64", "hypervisor": "kvm",
      "type": "g6-nanode-1"}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - "119"
      X-Accepted-Oauth-Scopes:
      - linodes:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
      X-Ratelimit-Remaining:
      - "399"
      X-Ratelimit-Reset:
      - "1533945843"
      X-Spec-Version:
      - 4.0.3
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"label":"linodego-test-config","devices":{}}'
    form: {}
    headers:
      Authorization:
      - Bearer awesometokenawesometokenawesometoken
      Content-Type:
      - application/json
    url: https://api.linode.com/v4/linode/instances/9588435/configs
    method: POST
  response:
    body: '{"created": "2018-01-02T03:04:05", "comments": "", "updated": "2018-01-02T03:04:05",
      "id": 10843032, "run_level": "default", "root_device": "/dev/sda", "helpers":
      {"network": true, "modules_dep": true, "distro": true, "devtmpfs_automount":
      true, "updatedb_disabled": true}, "kernel": "linode/latest-64bit", "virt_mode":
      "paravirt", "devices": {"sdf": null, "sdc": null, "sdh": null, "sda": null,
      "sdd": null, "sdb": null, "sdg": null, "sde": null}, "initrd": null, "label":
      "linodego-test-config", "memory_limit": 0}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - "119"
      X-Accepted-Oauth-Scopes:
      - linodes:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
      X-Ratelimit-Remaining:
      - "399"
      X-Ratelimit-Reset:
      - "1533945843"
      X-Spec-Version:
      - 4.0.3
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer awesometokenawesometokenawesometoken
      Content-Type:
      - application/json
    url: https://api.linode.com/v4/linode/instances/9588435
    method: GET
  response:
    body: '{"alerts": {"network_in": 10, "io": 10000, "network_out": 10, "transfer_quota":
      80, "cpu": 90}, "backups": {"schedule": {"window": null, "day": null}, "enabled":
      false}, "image": null, "label": "linodego-test-instance", "ipv6": "1234::5678/64",
      "updated": "2018-01-02T03:04:05", "id": 9588435, "region": "us-west", "type":
      "g6-nanode-1", "status": "offline", "specs": {"memory": 1024, "vcpus": 1, "transfer":
      1000, "disk": 25600}, "group": "", "watchdog_enabled": true, "created": "2018-01-02T03:04:05",
      "hypervisor": "kvm", "ipv4": ["010.020.030.040"]}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - "119"
      X-Accepted-Oauth-Scopes:
      - linodes:read_only
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
      X-Ratelimit-Remaining:
      - "399"
      X-Ratelimit-Reset:
      - "1533945850"
      X-Spec-Version:
      - 4.0.3
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"label":"snapshot-linodego-testing","size":1,"filesystem":"ext4"}'
    form: {}
    headers:
      Authorization:
      - Bearer awesometokenawesometokenawesometoken
      Content-Type:
      - application/json
    url: https://api.linode.com/v4/linode/instances/9588435/disks
    method: POST
  response:
    body: '{"created": "2018-01-02T03:04:05", "id": 20675853, "updated": "2018-01-02T03:04:05",
      "status": "not ready", "label": "snapshot-linodego-testing", "filesystem": "ext4",
      "size": 1}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - "112"
      X-Accepted-Oauth-Scopes:
      - linodes:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
      X-Ratelimit-Remaining:
      - "396"
      X-Ratelimit-Reset:
      - "1533945843"
      X-Spec-Version:
      - 4.0.3
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer awesometokenawesometokenawesometoken
      Content-Type:
      - application/json
      X-Filter:
      - '{"+order":"desc","+order_by":"created","seen":false}'
    url: https://api.linode.com/v4/account/events?page=1
    method: GET
  response:
    body: '{"data": [{"created": "2018-01-02T03:04:05", "username": "restricted_tester",
      "status": "finished", "time_remaining": 0, "id": 11846172, "percent_complete":
      100, "entity": {"label": "linodego-test-instance", "url": "/v4/linode/instances/9588435",
      "id": 9588435, "type": "linode"}, "read": false, "rate": null, "seen": false,
      "action": "disk_create"}, {"created": "2018-01-02T03:04:05", "username": "restricted_tester",
      "status": "finished", "time_remaining": 0, "id": 11846182, "percent_complete":
      100, "entity": {"label": "linodego-test-instance", "url": "/v4/linode/instances/9588435",
      "id": 9588435, "type": "linode"}, "read": false, "rate": null, "seen": false,
      "action": "linode_snapshot"}], "page": 1, "pages": 1, "results": 2}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - "114"
      X-Accepted-Oauth-Scopes:
      - events:read_only
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
      X-Ratelimit-Remaining:
      - "397"
      X-Ratelimit-Reset:
      - "1533945846"
      X-Spec-Version:
      - 4.0.3
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer awesometokenawesometokenawesometoken
      Content-Type:
      - application/json
    url: https://api.linode.com/v4/linode/instances/9588435/backups/enable
    method: POST
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - "100"
      X-Accepted-Oauth-Scopes:
      - linodes:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
      X-Ratelimit-Remaining:
      - "398"
      X-Ratelimit-Reset:
      - "1533945843"
      X-Spec-Version:
      - 4.0.3
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"label":"snapshot-linodego-testing"}'
    form: {}
    headers:
      Authorization:
      - Bearer awesometokenawesometokenawesometoken
      Content-Type:
      - application/json
    url: https://api.linode.com/v4/linode/instances/9588435/backups
    method: POST
  response:
    body: '{"created": "2018-01-02T03:04:05", "region": "us-west", "id": 98986758,
      "updated": "2018-01-02T03:04:05", "status": "pending", "label": "snapshot-linodego-testing",
      "type": "snapshot", "configs": [], "disks": [], "finished": null}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - "95"
      X-Accepted-Oauth-Scopes:
      - linodes:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
      X-Ratelimit-Remaining:
      - "395"
      X-Ratelimit-Reset:
      - "1533945843"
      X-Spec-Version:
      - 4.0.3
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer awesometokenawesometokenawesometoken
      Content-Type:
      - application/json
    url: https://api.linode.com/v4/linode/instances/9588435/backups
    method: GET
  response:
    body: '{"snapshot": {"in_progress": null, "current": {"configs": ["linodego-test-config"],
      "status": "successful", "finished": "2018-01-02T03:04:05",
      "updated": "2018-01-02T03:04:05", "type": "snapshot", "region": "us-west", "id":
      98986758, "disks": [{"filesystem": "ext4", "label": "snapshot-linodego-testing", "size":
      10}], "created": "2018-01-02T03:04:05", "label": "snapshot-linodego-testing"}}, "automatic":
      []}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - "95"
      X-Accepted-Oauth-Scopes:
      - linodes:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
      X-Ratelimit-Remaining:
      - "395"
      X-Ratelimit-Reset:
      - "1533945843"
      X-Spec-Version:
      - 4.0.3
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer awesometokenawesometokenawesometoken
      Content-Type:
      - application/json
    url: https://api.linode.com/v4/linode/instances/9588435/backups/98986758
    method: GET
  response:
    body: '{"created": "2018-01-02T03:04:05", "region": "us-west", "id": 98986758,
      "updated": "2018-01-02T03:04:05", "status": "successful", "label": "snapshot-linodego-testing",
      "type": "snapshot", "configs": ["linodego-test-config"], "disks": [{"size":
      1, "filesystem": "ext4", "label": "snapshot-linodego-testing"}], "finished":
      "2018-01-02T03:04:05"}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - "52"
      X-Accepted-Oauth-Scopes:
      - linodes:read_only
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
      X-Ratelimit-Remaining:
      - "392"
      X-Ratelimit-Reset:
      - "1533945889"
      X-Spec-Version:
      - 4.0.3
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"linode_id":9588435,"overwrite":true}'
    form: {}
    headers:
      Authorization:
      - Bearer awesometokenawesometokenawesometoken
      Content-Type:
      - application/json
    url: https://api.linode.com/v4/linode/instances/9588435/backups/98986758/restore
    method: POST
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - "5"
      X-Accepted-Oauth-Scopes:
      - linodes:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
      X-Ratelimit-Remaining:
      - "393"
      X-Ratelimit-Reset:
      - "1533945843"
      X-Spec-Version:
      - 4.0.3
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer awesometokenawesometokenawesometoken
      Content-Type:
      - application/json
    url: https://api.linode.com/v4/linode/instances/9588435/backups/cancel
    method: POST
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - "5"
      X-Accepted-Oauth-Scopes:
      - linodes:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
      X-Ratelimit-Remaining:
      - "388"
      X-Ratelimit-Reset:
      - "1533945843"
      X-Spec-Version:
      - 4.0.3
    status: 200 OK
    code: 200
    duration: ""
[...]
