---
version: 1
interactions:
- request:
    body: '{"domain":"36x19e14bqn49nzkq8vgcn5246z640fl-linodego-testing.com","type":"master","soa_email":"example@example.com"}'
    form: {}
    headers:
      Authorization:
      - Bearer awesometokenawesometokenawesometoken
      Content-Type:
      - application/json
    url: https://api.linode.com/v4/domains
    method: POST
  response:
    body: '{"expire_sec": 0, "refresh_sec": 0, "type": "master", "group": "", "master_ips":
      [], "axfr_ips": [], "domain": "36x19e14bqn49nzkq8vgcn5246z640fl-linodego-testing.com",
      "retry_sec": 0, "description": "", "soa_email": "example@example.com", "status":
      "active", "id": 1102862, "ttl_sec": 0}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - "117"
      X-Accepted-Oauth-Scopes:
      - domains:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
      X-Ratelimit-Remaining:
      - "399"
      X-Ratelimit-Reset:
      - "1532659012"
      X-Spec-Version:
      - 4.0.3
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer awesometokenawesometokenawesometoken
      Content-Type:
      - application/json
    url: https://api.linode.com/v4/domains
    method: GET
  response:
    body: '{"page": 1, "data": [{"id": 1102862, "description": "", "axfr_ips": [],
      "status": "active", "master_ips": [], "soa_email": "example@example.com", "refresh_sec":
      0, "expire_sec": 0, "domain": "36x19e14bqn49nzkq8vgcn5246z640fl-linodego-testing.com",
      "group": "", "retry_sec": 0, "type": "master", "ttl_sec": 0}], "pages": 1, "results":
      1}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - "119"
      X-Accepted-Oauth-Scopes:
      - domains:read_only
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
      X-Ratelimit-Remaining:
      - "399"
      X-Ratelimit-Reset:
      - "1532659014"
      X-Spec-Version:
      - 4.0.3
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer awesometokenawesometokenawesometoken
      Content-Type:
      - application/json
    url: https://api.linode.com/v4/domains/1102862
    method: DELETE
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - "119"
      X-Accepted-Oauth-Scopes:
      - domains:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
      X-Ratelimit-Remaining:
      - "399"
      X-Ratelimit-Reset:
      - "1532659015"
      X-Spec-Version:
      - 4.0.3
    status: 200 OK
    code: 200
    duration: ""
