---
version: 1
interactions:
- request:
    body: '{"label":"aw21uv73un07-linodego-testing","region":"us-west","client_conn_throttle":20}'
    form: {}
    headers:
      Authorization:
      - Bearer awesometokenawesometokenawesometoken
      Content-Type:
      - application/json
    url: https://api.linode.com/v4/nodebalancers
    method: POST
  response:
    body: '{"ipv4": "010.020.030.040", "region": "us-west", "label": "aw21uv73un07-linodego-testing",
      "id": 37821, "ipv6": "1234::5678", "created": "2018-01-02T03:04:05",
      "hostname": "nb-10-20-30-40.fremont.nodebalancer.linode.com", "transfer": {"total":
      null, "out": null, "in": null}, "updated": "2018-01-02T03:04:05", "client_conn_throttle":
      20}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - "101"
      X-Accepted-Oauth-Scopes:
      - nodebalancers:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
      X-Ratelimit-Remaining:
      - "397"
      X-Ratelimit-Reset:
      - "1533830568"
      X-Spec-Version:
      - 4.0.3
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer awesometokenawesometokenawesometoken
      Content-Type:
      - application/json
    url: https://api.linode.com/v4/nodebalancers/37821
    method: GET
  response:
    body: '{"transfer": {"out": null, "in": null, "total": null}, "hostname": "nb-10-20-30-40.fremont.nodebalancer.linode.com",
      "client_conn_throttle": 20, "updated": "2018-01-02T03:04:05", "region": "us-west",
      "ipv4": "010.020.030.040", "label": "aw21uv73un07-linodego-testing", "created": "2018-01-02T03:04:05",
      "id": 37821, "ipv6": "1234::5678"}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - "119"
      X-Accepted-Oauth-Scopes:
      - nodebalancers:read_only
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
      X-Ratelimit-Remaining:
      - "399"
      X-Ratelimit-Reset:
      - "1533830586"
      X-Spec-Version:
      - 4.0.3
    status: 200 OK
    code: 200
    duration: ""
[...]
