---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer awesometokenawesometokenawesometoken
      Content-Type:
      - application/json
    url: https://api.linode.com/v4/linode/types/g6-standard-1
    method: GET
  response:
    body: '{"disk": 51200, "price": {"hourly": 0.015, "monthly": 10.0}, "vcpus": 1,
      "memory": 2048, "id": "g6-standard-1", "transfer": 2000, "addons": {"backups":
      {"price": {"hourly": 0.004, "monthly": 2.5}}}, "class": "standard", "label":
      "Linode 2GB", "network_out": 2000}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - "25"
      X-Accepted-Oauth-Scopes:
      - '*'
      X-Oauth-Scopes:
      - unknown
      X-Ratelimit-Limit:
      - "400"
      X-Ratelimit-Remaining:
      - "391"
      X-Ratelimit-Reset:
      - "1530581958"
      X-Spec-Version:
      - 4.0.2
    status: 200 OK
    code: 200
    duration: ""
