---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer awesometokenawesometokenawesometoken
      Content-Type:
      - application/json
    url: https://api.linode.com/v4/linode/types
    method: GET
  response:
    body: '{"pages": 1, "page": 1, "data": [{"memory": 1024, "label": "Nanode 1GB",
      "addons": {"backups": {"price": {"hourly": 0.003, "monthly": 2.0}}}, "vcpus":
      1, "price": {"hourly": 0.0075, "monthly": 5.0}, "disk": 25600, "transfer": 1000,
      "network_out": 1000, "class": "nanode", "id": "g6-nanode-1"}, {"memory": 2048,
      "label": "Linode 2GB", "addons": {"backups": {"price": {"hourly": 0.004, "monthly":
      2.5}}}, "vcpus": 1, "price": {"hourly": 0.015, "monthly": 10.0}, "disk": 51200,
      "transfer": 2000, "network_out": 2000, "class": "standard", "id": "g6-standard-1"},
      {"memory": 4096, "label": "Linode 4GB", "addons": {"backups": {"price": {"hourly":
      0.008, "monthly": 5.0}}}, "vcpus": 2, "price": {"hourly": 0.03, "monthly": 20.0},
      "disk": 81920, "t[...]
