---
version: 1
interactions:
- request:
    body: '{"label":"o7x58j8hy1c2-linodego-testing","region":"us-west","client_conn_throttle":20}'
    form: {}
    headers:
      Authorization:
      - Bearer awesometokenawesometokenawesometoken
      Content-Type:
      - application/json
    url: https://api.linode.com/v4/nodebalancers
    method: POST
  response:
    body: '{"ipv4": "010.020.030.040", "region": "us-west", "label": "o7x58j8hy1c2-linodego-testing",
      "id": 37826, "ipv6": "1234::5678", "created": "2018-01-02T03:04:05",
      "hostname": "nb-10-20-30-40.fremont.nodebalancer.linode.com", "transfer": {"total":
      null, "out": null, "in": null}, "updated": "2018-01-02T03:04:05", "client_conn_throttle":
      20}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - "118"
      X-Accepted-Oauth-Scopes:
      - nodebalancers:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
      X-Ratelimit-Remaining:
      - "398"
      X-Ratelimit-Reset:
      - "1533830745"
      X-Spec-Version:
      - 4.0.3
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer awesometokenawesometokenawesometoken
      Content-Type:
      - application/json
    url: https://api.linode.com/v4/nodebalancers/37826
    method: DELETE
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - "117"
      X-Accepted-Oauth-Scopes:
      - nodebalancers:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
      X-Ratelimit-Remaining:
      - "398"
      X-Ratelimit-Reset:
      - "1533830745"
      X-Spec-Version:
      - 4.0.3
    status: 200 OK
    code: 200
    duration: ""
