---
version: 1
interactions:
- request:
    body: '{"domain":"h1w7t9k8625em4sm3284ul1424cfqzwy-linodego-testing.com","type":"master","soa_email":"example@example.com"}'
    form: {}
    headers:
      Authorization:
      - Bearer awesometokenawesometokenawesometoken
      Content-Type:
      - application/json
    url: https://api.linode.com/v4/domains
    method: POST
  response:
    body: '{"id": 1102856, "description": "", "axfr_ips": [], "status": "active",
      "master_ips": [], "soa_email": "example@example.com", "refresh_sec": 0, "expire_sec":
      0, "domain": "h1w7t9k8625em4sm3284ul1424cfqzwy-linodego-testing.com", "group":
      "", "retry_sec": 0, "type": "master", "ttl_sec": 0}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - "33"
      X-Accepted-Oauth-Scopes:
      - domains:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
      X-Ratelimit-Remaining:
      - "397"
      X-Ratelimit-Reset:
      - "1532658158"
      X-Spec-Version:
      - 4.0.3
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer awesometokenawesometokenawesometoken
      Content-Type:
      - application/json
    url: https://api.linode.com/v4/domains/1102856
    method: DELETE
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - "23"
      X-Accepted-Oauth-Scopes:
      - domains:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
      X-Ratelimit-Remaining:
      - "396"
      X-Ratelimit-Reset:
      - "1532658148"
      X-Spec-Version:
      - 4.0.3
    status: 200 OK
    code: 200
    duration: ""
