---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer awesometokenawesometokenawesometoken
      Content-Type:
      - application/json
    url: https://api.linode.com/v4/volumes/6574839201
    method: GET
  response:
    body: '{"updated": "2018-01-02T03:04:05", "linode_id": null, "created": "2018-01-02T03:04:05",
      "size": 11, "filesystem_path": "/dev/disk/by-id/scsi-0Linode_Volume_test-volume",
      "status": "active", "region": "us-east", "label": "test-volume", "id": 6574839201}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - "119"
      X-Accepted-Oauth-Scopes:
      - volumes:read_only
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
      X-Ratelimit-Remaining:
      - "399"
      X-Ratelimit-Reset:
      - "1531457718"
      X-Spec-Version:
      - 4.0.3
    status: 200 OK
    code: 200
    duration: ""
