---
version: 1
interactions:
- request:
    body: '{"domain":"y4lra94w1gfjs8p1693p93xt538tqg53-linodego-testing.com","type":"master","soa_email":"example@example.com"}'
    form: {}
    headers:
      Authorization:
      - Bearer awesometokenawesometokenawesometoken
      Content-Type:
      - application/json
    url: https://api.linode.com/v4/domains
    method: POST
  response:
    body: '{"id": 1102871, "description": "", "axfr_ips": [], "status": "active",
      "master_ips": [], "soa_email": "example@example.com", "refresh_sec": 0, "expire_sec":
      0, "domain": "y4lra94w1gfjs8p1693p93xt538tqg53-linodego-testing.com", "group":
      "", "retry_sec": 0, "type": "master", "ttl_sec": 0}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - "117"
      X-Accepted-Oauth-Scopes:
      - domains:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
      X-Ratelimit-Remaining:
      - "399"
      X-Ratelimit-Reset:
      - "1532660683"
      X-Spec-Version:
      - 4.0.3
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"type":"A","name":"a","target":"010.020.030.040"}'
    form: {}
    headers:
      Authorization:
      - Bearer awesometokenawesometokenawesometoken
      Content-Type:
      - application/json
    url: https://api.linode.com/v4/domains/1102871/records
    method: POST
  response:
    body: '{"type": "A", "priority": 0, "protocol": null, "port": 0, "target": "010.020.030.040",
      "id": 10468360, "tag": null, "weight": 0, "service": null, "name": "a", "ttl_sec":
      0}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - "119"
      X-Accepted-Oauth-Scopes:
      - domains:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
      X-Ratelimit-Remaining:
      - "399"
      X-Ratelimit-Reset:
      - "1532660685"
      X-Spec-Version:
      - 4.0.3
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer awesometokenawesometokenawesometoken
      Content-Type:
      - application/json
    url: https://api.linode.com/v4/domains/1102871/records/10468360
    method: DELETE
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - "119"
      X-Accepted-Oauth-Scopes:
      - domains:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
      X-Ratelimit-Remaining:
      - "399"
      X-Ratelimit-Reset:
      - "1532660685"
      X-Spec-Version:
      - 4.0.3
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer awesometokenawesometokenawesometoken
      Content-Type:
      - application/json
    url: https://api.linode.com/v4/domains/1102871
    method: DELETE
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - "119"
      X-Accepted-Oauth-Scopes:
      - domains:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
      X-Ratelimit-Remaining:
      - "399"
      X-Ratelimit-Reset:
      - "1532660686"
      X-Spec-Version:
      - 4.0.3
    status: 200 OK
    code: 200
    duration: ""
