---
version: 1
interactions:
- request:
    body: '{"label":"fgl98j2ok963-linodego-testing","region":"us-west","client_conn_throttle":20}'
    form: {}
    headers:
      Authorization:
      - Bearer awesometokenawesometokenawesometoken
      Content-Type:
      - application/json
    url: https://api.linode.com/v4/nodebalancers
    method: POST
  response:
    body: '{"updated": "2018-01-02T03:04:05", "ipv4": "010.020.030.040", "label": "fgl98j2ok963-linodego-testing",
      "ipv6": "1234::5678", "transfer": {"in": null, "out": null, "total":
      null}, "hostname": "nb-10-20-30-40.fremont.nodebalancer.linode.com", "region":
      "us-west", "created": "2018-01-02T03:04:05", "id": 37786, "client_conn_throttle":
      20}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - "104"
      X-Accepted-Oauth-Scopes:
      - nodebalancers:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
      X-Ratelimit-Remaining:
      - "396"
      X-Ratelimit-Reset:
      - "1533823214"
      X-Spec-Version:
      - 4.0.3
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"port":80,"protocol":"http","algorithm":"roundrobin"}'
    form: {}
    headers:
      Authorization:
      - Bearer awesometokenawesometokenawesometoken
      Content-Type:
      - application/json
    url: https://api.linode.com/v4/nodebalancers/37786/configs
    method: POST
  response:
    body: '{"ssl_commonname": "", "algorithm": "roundrobin", "protocol": "http", "port":
      80, "check_body": "", "ssl_fingerprint": "", "check_passive": true, "check_attempts":
      3, "check_interval": 0, "check_path": "", "check_timeout": 30, "nodes_status":
      {"down": 0, "up": 0}, "ssl_cert": null, "stickiness": "none", "check": "none",
      "id": 33528, "nodebalancer_id": 37786, "cipher_suite": "recommended", "ssl_key":
      null}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - "105"
      X-Accepted-Oauth-Scopes:
      - nodebalancers:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
      X-Ratelimit-Remaining:
      - "393"
      X-Ratelimit-Reset:
      - "1533823215"
      X-Spec-Version:
      - 4.0.3
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer awesometokenawesometokenawesometoken
      Content-Type:
      - application/json
    url: https://api.linode.com/v4/nodebalancers/37786/configs
    method: GET
  response:
    body: '{"results": 1, "data": [], "pages": 2, "page": 1}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - "18"
      X-Accepted-Oauth-Scopes:
      - nodebalancers:read_only
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
      X-Ratelimit-Remaining:
      - "395"
      X-Ratelimit-Reset:
      - "1533823128"
      X-Spec-Version:
      - 4.0.3
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer awesometokenawesometokenawesometoken
      Content-Type:
      - application/json
    url: https://api.linode.com/v4/nodebalancers/37786/configs?page=2
    method: GET
  response:
    body: '{"results": 1, "data": [{"check_path": "", "algorithm": "roundrobin", "ssl_fingerprint":
      "", "check_body": "", "nodes_status": {"up": 0, "down": 0}, "check_attempts":
      3, "ssl_key": null, "port": 80, "check_interval": 0, "check_timeout": 30, "check":
      "none", "ssl_commonname": "", "check_passive": true, "cipher_suite": "recommended",
      "id": 33528, "protocol": "http", "nodebalancer_id": 37786, "ssl_cert": null,
      "stickiness": "none"}], "pages": 2, "page": 2}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - "18"
      X-Accepted-Oauth-Scopes:
      - nodebalancers:read_only
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
      X-Ratelimit-Remaining:
      - "395"
      X-Ratelimit-Reset:
      - "1533823128"
      X-Spec-Version:
      - 4.0.3
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer awesometokenawesometokenawesometoken
      Content-Type:
      - application/json
    url: https://api.linode.com/v4/nodebalancers/37786/configs/33528
    method: DELETE
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - "106"
      X-Accepted-Oauth-Scopes:
      - nodebalancers:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
      X-Ratelimit-Remaining:
      - "396"
      X-Ratelimit-Reset:
      - "1533823216"
      X-Spec-Version:
      - 4.0.3
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer awesometokenawesometokenawesometoken
      Content-Type:
      - application/json
    url: https://api.linode.com/v4/nodebalancers/37786
    method: DELETE
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - "105"
      X-Accepted-Oauth-Scopes:
      - nodebalancers:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
      X-Ratelimit-Remaining:
      - "392"
      X-Ratelimit-Reset:
      - "1533823215"
      X-Spec-Version:
      - 4.0.3
    status: 200 OK
    code: 200
    duration: ""
