---
version: 1
interactions:
- request:
    body: '{"label":"c42or957o7wl-linodego-testing","region":"us-west","client_conn_throttle":20}'
    form: {}
    headers:
      Authorization:
      - Bearer awesometokenawesometokenawesometoken
      Content-Type:
      - application/json
    url: https://api.linode.com/v4/nodebalancers
    method: POST
  response:
    body: '{"transfer": {"out": null, "in": null, "total": null}, "hostname": "nb-10-20-30-40.fremont.nodebalancer.linode.com",
      "client_conn_throttle": 20, "updated": "2018-01-02T03:04:05", "region": "us-west",
      "ipv4": "010.020.030.040", "label": "c42or957o7wl-linodego-testing", "created": "2018-01-02T03:04:05",
      "id": 37835, "ipv6": "1234::5678"}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - "94"
      X-Accepted-Oauth-Scopes:
      - nodebalancers:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
      X-Ratelimit-Remaining:
      - "397"
      X-Ratelimit-Reset:
      - "1533835242"
      X-Spec-Version:
      - 4.0.3
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"port":80,"protocol":"http","algorithm":"roundrobin"}'
    form: {}
    headers:
      Authorization:
      - Bearer awesometokenawesometokenawesometoken
      Content-Type:
      - application/json
    url: https://api.linode.com/v4/nodebalancers/37835/configs
    method: POST
  response:
    body: '{"check_interval": 0, "check_attempts": 3, "nodebalancer_id": 37835, "check_path":
      "", "ssl_fingerprint": "", "algorithm": "roundrobin", "cipher_suite": "recommended",
      "check_passive": true, "id": 33574, "check_body": "", "stickiness": "none",
      "ssl_commonname": "", "check_timeout": 30, "ssl_key": null, "check": "none",
      "protocol": "http", "ssl_cert": null, "port": 80, "nodes_status": {"down": 0,
      "up": 0}}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - "85"
      X-Accepted-Oauth-Scopes:
      - nodebalancers:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
      X-Ratelimit-Remaining:
      - "395"
      X-Ratelimit-Reset:
      - "1533835234"
      X-Spec-Version:
      - 4.0.3
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"address":"192.168.030.040:8080","label":"test-label","weight":10,"mode":"accept"}'
    form: {}
    headers:
      Authorization:
      - Bearer awesometokenawesometokenawesometoken
      Content-Type:
      - application/json
    url: https://api.linode.com/v4/nodebalancers/37835/configs/33574/nodes
    method: POST
  response:
    body: '{"status": "Unknown", "mode": "accept", "config_id": 33574, "address":
      "192.168.030.040:8080", "weight": 10, "label": "test-label", "nodebalancer_id":
      37835, "id": 316377}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - "85"
      X-Accepted-Oauth-Scopes:
      - nodebalancers:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
      X-Ratelimit-Remaining:
      - "394"
      X-Ratelimit-Reset:
      - "1533835234"
      X-Spec-Version:
      - 4.0.3
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer awesometokenawesometokenawesometoken
      Content-Type:
      - application/json
    url: https://api.linode.com/v4/nodebalancers/37835/configs/33574/nodes/316377
    method: GET
  response:
    body: '{"weight": 10, "nodebalancer_id": 37835, "label": "test-label", "address":
      "192.168.030.040:8080", "mode": "accept", "status": "Unknown", "id": 316377, "config_id":
      33574}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - "101"
      X-Accepted-Oauth-Scopes:
      - nodebalancers:read_only
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
      X-Ratelimit-Remaining:
      - "393"
      X-Ratelimit-Reset:
      - "1533835250"
      X-Spec-Version:
      - 4.0.3
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer awesometokenawesometokenawesometoken
      Content-Type:
      - application/json
    url: https://api.linode.com/v4/nodebalancers/37835/configs/33574
    method: DELETE
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - "104"
      X-Accepted-Oauth-Scopes:
      - nodebalancers:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
      X-Ratelimit-Remaining:
      - "398"
      X-Ratelimit-Reset:
      - "1533835254"
      X-Spec-Version:
      - 4.0.3
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer awesometokenawesometokenawesometoken
      Content-Type:
      - application/json
    url: https://api.linode.com/v4/nodebalancers/37835
    method: DELETE
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - "85"
      X-Accepted-Oauth-Scopes:
      - nodebalancers:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
      X-Ratelimit-Remaining:
      - "394"
      X-Ratelimit-Reset:
      - "1533835235"
      X-Spec-Version:
      - 4.0.3
    status: 200 OK
    code: 200
    duration: ""
