---
version: 1
interactions:
- request:
    body: '{"label":"bc92s9jh6b37-linodego-testing","region":"us-west","client_conn_throttle":20}'
    form: {}
    headers:
      Authorization:
      - Bearer awesometokenawesometokenawesometoken
      Content-Type:
      - application/json
    url: https://api.linode.com/v4/nodebalancers
    method: POST
  response:
    body: '{"ipv4": "010.020.030.040", "region": "us-west", "label": "bc92s9jh6b37-linodego-testing",
      "id": 37831, "ipv6": "1234::5678", "created": "2018-01-02T03:04:05",
      "hostname": "nb-10-20-30-40.fremont.nodebalancer.linode.com", "transfer": {"total":
      null, "out": null, "in": null}, "updated": "2018-01-02T03:04:05", "client_conn_throttle":
      20}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - "118"
      X-Accepted-Oauth-Scopes:
      - nodebalancers:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
      X-Ratelimit-Remaining:
      - "399"
      X-Ratelimit-Reset:
      - "1533835241"
      X-Spec-Version:
      - 4.0.3
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"port":80,"protocol":"http","algorithm":"roundrobin"}'
    form: {}
    headers:
      Authorization:
      - Bearer awesometokenawesometokenawesometoken
      Content-Type:
      - application/json
    url: https://api.linode.com/v4/nodebalancers/37831/configs
    method: POST
  response:
    body: '{"check_interval": 0, "check_attempts": 3, "nodebalancer_id": 37831, "check_path":
      "", "ssl_fingerprint": "", "algorithm": "roundrobin", "cipher_suite": "recommended",
      "check_passive": true, "id": 33570, "check_body": "", "stickiness": "none",
      "ssl_commonname": "", "check_timeout": 30, "ssl_key": null, "check": "none",
      "protocol": "http", "ssl_cert": null, "port": 80, "nodes_status": {"down": 0,
      "up": 0}}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - "118"
      X-Accepted-Oauth-Scopes:
      - nodebalancers:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
      X-Ratelimit-Remaining:
      - "399"
      X-Ratelimit-Reset:
      - "1533835242"
      X-Spec-Version:
      - 4.0.3
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"address":"192.168.030.040:8080","label":"test-label","weight":10,"mode":"accept"}'
    form: {}
    headers:
      Authorization:
      - Bearer awesometokenawesometokenawesometoken
      Content-Type:
      - application/json
    url: https://api.linode.com/v4/nodebalancers/37831/configs/33570/nodes
    method: POST
  response:
    body: '{"address": "192.168.030.040:8080", "id": 316373, "weight": 10, "nodebalancer_id":
      37831, "mode": "accept", "status": "Unknown", "label": "test-label", "config_id":
      33570}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - "117"
      X-Accepted-Oauth-Scopes:
      - nodebalancers:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
      X-Ratelimit-Remaining:
      - "398"
      X-Ratelimit-Reset:
      - "1533835241"
      X-Spec-Version:
      - 4.0.3
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"address":"192.168.030.040:18080","label":"test-label_r","weight":100,"mode":"drain"}'
    form: {}
    headers:
      Authorization:
      - Bearer awesometokenawesometokenawesometoken
      Content-Type:
      - application/json
    url: https://api.linode.com/v4/nodebalancers/37831/configs/33570/nodes/316373
    method: PUT
  response:
    body: '{"status": "Unknown", "mode": "drain", "config_id": 33570, "address": "192.168.030.040:18080",
      "weight": 100, "label": "test-label_r", "nodebalancer_id": 37831, "id": 316373}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - "119"
      X-Accepted-Oauth-Scopes:
      - nodebalancers:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
      X-Ratelimit-Remaining:
      - "399"
      X-Ratelimit-Reset:
      - "1533835243"
      X-Spec-Version:
      - 4.0.3
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer awesometokenawesometokenawesometoken
      Content-Type:
      - application/json
    url: https://api.linode.com/v4/nodebalancers/37831/configs/33570
    method: DELETE
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - "119"
      X-Accepted-Oauth-Scopes:
      - nodebalancers:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
      X-Ratelimit-Remaining:
      - "398"
      X-Ratelimit-Reset:
      - "1533835243"
      X-Spec-Version:
      - 4.0.3
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer awesometokenawesometokenawesometoken
      Content-Type:
      - application/json
    url: https://api.linode.com/v4/nodebalancers/37831
    method: DELETE
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - "116"
      X-Accepted-Oauth-Scopes:
      - nodebalancers:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
      X-Ratelimit-Remaining:
      - "397"
      X-Ratelimit-Reset:
      - "1533835241"
      X-Spec-Version:
      - 4.0.3
    status: 200 OK
    code: 200
    duration: ""
