---
version: 1
interactions:
- request:
    body: '{"label":"linodego-test-volume","region":"us-west"}'
    form: {}
    headers:
      Authorization:
      - Bearer awesometokenawesometokenawesometoken
      Content-Type:
      - application/json
    url: https://api.linode.com/v4/volumes
    method: POST
  response:
    body: '{"size": 20, "label": "linodego-test-volume", "id": 9589, "linode_id":
      null, "filesystem_path": "/dev/disk/by-id/scsi-0Linode_Volume_linodego-test-volume",
      "created": "2018-01-02T03:04:05", "region": "us-west", "updated": "2018-01-02T03:04:05",
      "status": "creating"}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - "117"
      X-Accepted-Oauth-Scopes:
      - volumes:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
      X-Ratelimit-Remaining:
      - "398"
      X-Ratelimit-Reset:
      - "1532025855"
      X-Spec-Version:
      - 4.0.3
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"linode_id":9006360,"config_id":10269896}'
    form: {}
    headers:
      Authorization:
      - Bearer awesometokenawesometokenawesometoken
      Content-Type:
      - application/json
    url: https://api.linode.com/v4/volumes/9589/attach
    method: POST
  response:
    body: '{"size": 20, "created": "2018-01-02T03:04:05", "id": 9589, "label": "linodego-test-volume",
      "updated": "2018-01-02T03:04:05", "filesystem_path": "/dev/disk/by-id/scsi-0Linode_Volume_linodego-test-volume",
      "status": "creating", "linode_id": 9006360, "region": "us-west"}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - "116"
      X-Accepted-Oauth-Scopes:
      - volumes:read_only,linodes:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
      X-Ratelimit-Remaining:
      - "397"
      X-Ratelimit-Reset:
      - "1532025854"
      X-Spec-Version:
      - 4.0.3
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer awesometokenawesometokenawesometoken
      Content-Type:
      - application/json
    url: https://api.linode.com/v4/volumes/9589
    method: GET
  response:
    body: '{"id": 9589, "size": 20, "label": "linodego-test-volume", "region": "us-west",
      "status": "creating", "created": "2018-01-02T03:04:05", "filesystem_path": "/dev/disk/by-id/scsi-0Linode_Volume_linodego-test-volume",
      "updated": "2018-01-02T03:04:05", "linode_id": 9006360}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - "118"
      X-Accepted-Oauth-Scopes:
      - volumes:read_only
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
      X-Ratelimit-Remaining:
      - "398"
      X-Ratelimit-Reset:
      - "1532025856"
      X-Spec-Version:
      - 4.0.3
    status: 200 OK
    code: 200
    duration: ""
[...]
