---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer awesometokenawesometokenawesometoken
      Content-Type:
      - application/json
    url: https://api.linode.com/v4/linode/instances/76859403/configs
    method: GET
  response:
    body: '{"pages": 1, "page": 1, "data": [{"updated": "2018-01-02T03:04:05", "root_device":
      "/dev/sda", "helpers": {"updatedb_disabled": true, "distro": true, "network":
      true, "modules_dep": true, "devtmpfs_automount": true}, "virt_mode": "paravirt",
      "id": 9958462, "memory_limit": 0, "label": "My Ubuntu 18.04 LTS Disk Profile",
      "run_level": "default", "kernel": "linode/grub2", "devices": {"sda": {"disk_id":
      18974977, "volume_id": null}, "sdd": null, "sdg": null, "sdh": null, "sdf":
      null, "sde": null, "sdc": {"disk_id": null, "volume_id": 6574839201}, "sdb": {"disk_id":
      18974978, "volume_id": null}}, "comments": "", "initrd": null, "created": "2018-01-02T03:04:05"}],
      "results": 1}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - "29"
      X-Accepted-Oauth-Scopes:
      - linodes:read_only
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
      X-Ratelimit-Remaining:
      - "395"
      X-Ratelimit-Reset:
      - "1530581959"
      X-Spec-Version:
      - 4.0.2
    status: 200 OK
    code: 200
    duration: ""
