---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer awesometokenawesometokenawesometoken
      Content-Type:
      - application/json
    url: https://api.linode.com/v4/linode/instances/76859403
    method: GET
  response:
    body: '{"watchdog_enabled": true, "ipv6": "1234::5678/64",
      "hypervisor": "kvm", "ipv4": ["010.020.030.040", "192.168.030.040"], "status": "running",
      "label": "test-linode", "backups": {"schedule": {"window": "W16", "day": "Monday"},
      "enabled": true}, "updated": "2018-01-02T03:04:05", "image": "linode/ubuntu18.04",
      "created": "2018-01-02T03:04:05", "id": 76859403, "type": "g6-standard-1", "region":
      "us-east", "group": "", "specs": {"vcpus": 1, "disk": 51200, "memory": 2048,
      "transfer": 2000}, "alerts": {"cpu": 90, "io": 10000, "network_out": 10, "network_in":
      10, "transfer_quota": 80}}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - "28"
      X-Accepted-Oauth-Scopes:
      - linodes:read_only
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
      X-Ratelimit-Remaining:
      - "395"
      X-Ratelimit-Reset:
      - "1530581958"
      X-Spec-Version:
      - 4.0.2
    status: 200 OK
    code: 200
    duration: ""
