---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer awesometokenawesometokenawesometoken
      Content-Type:
      - application/json
    url: https://api.linode.com/v4/images/linode/ubuntu16.04lts
    method: GET
  response:
    body: '{"label": "Ubuntu 16.04 LTS", "id": "linode/ubuntu16.04lts", "is_public":
      true, "description": null, "deprecated": false, "created_by": "linode", "size":
      2500, "type": "manual", "vendor": "Ubuntu", "created": "2018-01-02T03:04:05"}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - "30"
      X-Accepted-Oauth-Scopes:
      - images:read_only
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
      X-Ratelimit-Remaining:
      - "396"
      X-Ratelimit-Reset:
      - "1530581959"
      X-Spec-Version:
      - 4.0.2
    status: 200 OK
    code: 200
    duration: ""
