---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer awesometokenawesometokenawesometoken
      Content-Type:
      - application/json
    url: https://api.linode.com/v4/regions
    method: GET
  response:
    body: '{"data": [{"country": "us", "id": "us-central"}, {"country": "us", "id":
      "us-west"}, {"country": "us", "id": "us-southeast"}, {"country": "us", "id":
      "us-east"}, {"country": "uk", "id": "eu-west"}, {"country": "sg", "id": "ap-south"},
      {"country": "de", "id": "eu-central"}, {"country": "jp", "id": "ap-northeast"},
      {"country": "jp", "id": "ap-northeast-1a"}], "page": 1, "pages": 1, "results":
      9}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - "27"
      X-Accepted-Oauth-Scopes:
      - '*'
      X-Oauth-Scopes:
      - unknown
      X-Ratelimit-Limit:
      - "400"
      X-Ratelimit-Remaining:
      - "392"
      X-Ratelimit-Reset:
      - "1530581958"
      X-Spec-Version:
      - 4.0.2
    status: 200 OK
    code: 200
    duration: ""
