---
version: 1
interactions:
- request:
    body: '{"domain":"7s73knsgh1t4vkia5736d8b4b6z0015g-linodego-testing.com","type":"master","soa_email":"example@example.com"}'
    form: {}
    headers:
      Authorization:
      - Bearer awesometokenawesometokenawesometoken
      Content-Type:
      - application/json
    url: https://api.linode.com/v4/domains
    method: POST
  response:
    body: '{"description": "", "master_ips": [], "id": 1102858, "refresh_sec": 0,
      "axfr_ips": [], "status": "active", "ttl_sec": 0, "group": "", "retry_sec":
      0, "type": "master", "soa_email": "example@example.com", "expire_sec": 0, "domain":
      "7s73knsgh1t4vkia5736d8b4b6z0015g-linodego-testing.com"}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - "13"
      X-Accepted-Oauth-Scopes:
      - domains:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
      X-Ratelimit-Remaining:
      - "394"
      X-Ratelimit-Reset:
      - "1532658148"
      X-Spec-Version:
      - 4.0.3
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"domain":"linodego-renamed-domain.com"}'
    form: {}
    headers:
      Authorization:
      - Bearer awesometokenawesometokenawesometoken
      Content-Type:
      - application/json
    url: https://api.linode.com/v4/domains/1102858
    method: PUT
  response:
    body: '{"expire_sec": 0, "refresh_sec": 0, "type": "master", "group": "", "master_ips":
      [], "axfr_ips": [], "domain": "linodego-renamed-domain.com", "retry_sec": 0,
      "description": "", "soa_email": "example@example.com", "status": "active", "id":
      1102858, "ttl_sec": 0}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - "10"
      X-Accepted-Oauth-Scopes:
      - domains:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
      X-Ratelimit-Remaining:
      - "395"
      X-Ratelimit-Reset:
      - "1532658146"
      X-Spec-Version:
      - 4.0.3
    status: 200 OK
    code: 200
    duration: ""
[...]
