---
version: 1
interactions:
- request:
    body: '{"label":"39x21bczi38d-linodego-testing","region":"us-west","client_conn_throttle":20}'
    form: {}
    headers:
      Authorization:
      - Bearer awesometokenawesometokenawesometoken
      Content-Type:
      - application/json
    url: https://api.linode.com/v4/nodebalancers
    method: POST
  response:
    body: '{"ipv4": "010.020.030.040", "region": "us-west", "label": "39x21bczi38d-linodego-testing",
      "id": 37812, "ipv6": "1234::5678", "created": "2018-01-02T03:04:05",
      "hostname": "nb-10-20-30-40.fremont.nodebalancer.linode.com", "transfer":
      {"total": null, "out": null, "in": null}, "updated": "2018-01-02T03:04:05",
      "client_conn_throttle": 20}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - "118"
      X-Accepted-Oauth-Scopes:
      - nodebalancers:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
      X-Ratelimit-Remaining:
      - "399"
      X-Ratelimit-Reset:
      - "1533828565"
      X-Spec-Version:
      - 4.0.3
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"port":80,"protocol":"http","algorithm":"roundrobin"}'
    form: {}
    headers:
      Authorization:
      - Bearer awesometokenawesometokenawesometoken
      Content-Type:
      - application/json
    url: https://api.linode.com/v4/nodebalancers/37812/configs
    method: POST
  response:
    body: '{"cipher_suite": "recommended", "algorithm": "roundrobin", "check": "none",
      "protocol": "http", "stickiness": "none", "ssl_fingerprint": "", "check_interval":
      0, "port": 80, "nodes_status": {"up": 0, "down": 0}, "id": 33559, "check_attempts":
      3, "check_body": "", "ssl_commonname": "", "ssl_cert": null, "ssl_key": null,
      "nodebalancer_id": 37812, "check_passive": true, "check_path": "", "check_timeout":
      30}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - "107"
      X-Accepted-Oauth-Scopes:
      - nodebalancers:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
      X-Ratelimit-Remaining:
      - "397"
      X-Ratelimit-Reset:
      - "1533828554"
      X-Spec-Version:
      - 4.0.3
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer awesometokenawesometokenawesometoken
      Content-Type:
      - application/json
    url: https://api.linode.com/v4/nodebalancers/37812/configs
    method: GET
  response:
    body: '{"results": 1, "pages": 1, "page": 1, "data": [{"ssl_commonname": "", "algorithm":
      "roundrobin", "protocol": "http", "port": 80, "check_body": "", "ssl_fingerprint":
      "", "check_passive": true, "check_attempts": 3, "check_interval": 0, "check_path":
      "", "check_timeout": 30, "nodes_status": {"down": 0, "up": 0}, "ssl_cert": null,
      "stickiness": "none", "check": "none", "id": 33559, "nodebalancer_id": 37812,
      "cipher_suite": "recommended", "ssl_key": null}]}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - "106"
      X-Accepted-Oauth-Scopes:
      - nodebalancers:read_only
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
      X-Ratelimit-Remaining:
      - "395"
      X-Ratelimit-Reset:
      - "1533828553"
      X-Spec-Version:
      - 4.0.3
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer awesometokenawesometokenawesometoken
      Content-Type:
      - application/json
    url: https://api.linode.com/v4/nodebalancers/37812/configs/33559
    method: DELETE
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - "118"
      X-Accepted-Oauth-Scopes:
      - nodebalancers:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
      X-Ratelimit-Remaining:
      - "398"
      X-Ratelimit-Reset:
      - "1533828565"
      X-Spec-Version:
      - 4.0.3
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer awesometokenawesometokenawesometoken
      Content-Type:
      - application/json
    url: https://api.linode.com/v4/nodebalancers/37812
    method: DELETE
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - "118"
      X-Accepted-Oauth-Scopes:
      - nodebalancers:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
      X-Ratelimit-Remaining:
      - "399"
      X-Ratelimit-Reset:
      - "1533828566"
      X-Spec-Version:
      - 4.0.3
    status: 200 OK
    code: 200
    duration: ""
