---
version: 1
interactions:
- request:
    body: '{"label":"q4825gw6zqy9-linodego-testing","region":"us-west","client_conn_throttle":20}'
    form: {}
    headers:
      Authorization:
      - Bearer awesometokenawesometokenawesometoken
      Content-Type:
      - application/json
    url: https://api.linode.com/v4/nodebalancers
    method: POST
  response:
    body: '{"updated": "2018-01-02T03:04:05", "client_conn_throttle": 20, "created":
      "2018-01-02T03:04:05", "ipv6": "1234::5678", "transfer": {"in":
      null, "out": null, "total": null}, "id": 37811, "ipv4": "010.020.030.040", "label":
      "q4825gw6zqy9-linodego-testing", "region": "us-west", "hostname": "nb-10-20-30-40.fremont.nodebalancer.linode.com"}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - "112"
      X-Accepted-Oauth-Scopes:
      - nodebalancers:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
      X-Ratelimit-Remaining:
      - "397"
      X-Ratelimit-Reset:
      - "1533828553"
      X-Spec-Version:
      - 4.0.3
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"port":80,"protocol":"http","algorithm":"roundrobin"}'
    form: {}
    headers:
      Authorization:
      - Bearer awesometokenawesometokenawesometoken
      Content-Type:
      - application/json
    url: https://api.linode.com/v4/nodebalancers/37811/configs
    method: POST
  response:
    body: '{"check_path": "", "algorithm": "roundrobin", "ssl_fingerprint": "", "check_body":
      "", "nodes_status": {"up": 0, "down": 0}, "check_attempts": 3, "ssl_key": null,
      "port": 80, "check_interval": 0, "check_timeout": 30, "check": "none", "ssl_commonname":
      "", "check_passive": true, "cipher_suite": "recommended", "id": 33558, "protocol":
      "http", "nodebalancer_id": 37811, "ssl_cert": null, "stickiness": "none"}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - "112"
      X-Accepted-Oauth-Scopes:
      - nodebalancers:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
      X-Ratelimit-Remaining:
      - "398"
      X-Ratelimit-Reset:
      - "1533828553"
      X-Spec-Version:
      - 4.0.3
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"port":8080,"protocol":"tcp","algorithm":"leastconn"}'
    form: {}
    headers:
      Authorization:
      - Bearer awesometokenawesometokenawesometoken
      Content-Type:
      - application/json
    url: https://api.linode.com/v4/nodebalancers/37811/configs/33558
    method: PUT
  response:
    body: '{"cipher_suite": "recommended", "algorithm": "leastconn", "check": "none",
      "protocol": "tcp", "stickiness": "none", "ssl_fingerprint": "", "check_interval":
      0, "port": 8080, "nodes_status": {"up": 0, "down": 0}, "id": 33558, "check_attempts":
      3, "check_body": "", "ssl_commonname": "", "ssl_cert": null, "ssl_key": null,
      "nodebalancer_id": 37811, "check_passive": true, "check_path": "", "check_timeout":
      30}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - "113"
      X-Accepted-Oauth-Scopes:
      - nodebalancers:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
      X-Ratelimit-Remaining:
      - "398"
      X-Ratelimit-Reset:
      - "1533828554"
      X-Spec-Version:
      - 4.0.3
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer awesometokenawesometokenawesometoken
      Content-Type:
      - application/json
    url: https://api.linode.com/v4/nodebalancers/37811
    method: DELETE
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - "111"
      X-Accepted-Oauth-Scopes:
      - nodebalancers:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
      X-Ratelimit-Remaining:
      - "397"
      X-Ratelimit-Reset:
      - "1533828553"
      X-Spec-Version:
      - 4.0.3
    status: 200 OK
    code: 200
    duration: ""
