---
version: 1
interactions:
- request:
    body: '{"label":"271ch55ni6qo-linodego-testing","region":"us-west","client_conn_throttle":20}'
    form: {}
    headers:
      Authorization:
      - Bearer awesometokenawesometokenawesometoken
      Content-Type:
      - application/json
    url: https://api.linode.com/v4/nodebalancers
    method: POST
  response:
    body: '{"ipv4": "010.020.030.040", "region": "us-west", "label": "271ch55ni6qo-linodego-testing",
      "id": 37832, "ipv6": "1234::5678", "created": "2018-01-02T03:04:05",
      "hostname": "nb-10-20-30-40.fremont.nodebalancer.linode.com", "transfer": {"total":
      null, "out": null, "in": null}, "updated": "2018-01-02T03:04:05", "client_conn_throttle":
      20}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - "111"
      X-Accepted-Oauth-Scopes:
      - nodebalancers:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
      X-Ratelimit-Remaining:
      - "396"
      X-Ratelimit-Reset:
      - "1533835241"
      X-Spec-Version:
      - 4.0.3
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"port":80,"protocol":"http","algorithm":"roundrobin"}'
    form: {}
    headers:
      Authorization:
      - Bearer awesometokenawesometokenawesometoken
      Content-Type:
      - application/json
    url: https://api.linode.com/v4/nodebalancers/37832/configs
    method: POST
  response:
    body: '{"cipher_suite": "recommended", "algorithm": "roundrobin", "check": "none",
      "protocol": "http", "stickiness": "none", "ssl_fingerprint": "", "check_interval":
      0, "port": 80, "nodes_status": {"up": 0, "down": 0}, "id": 33571, "check_attempts":
      3, "check_body": "", "ssl_commonname": "", "ssl_cert": null, "ssl_key": null,
      "nodebalancer_id": 37832, "check_passive": true, "check_path": "", "check_timeout":
      30}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - "119"
      X-Accepted-Oauth-Scopes:
      - nodebalancers:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
      X-Ratelimit-Remaining:
      - "399"
      X-Ratelimit-Reset:
      - "1533835250"
      X-Spec-Version:
      - 4.0.3
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"address":"192.168.030.040:8080","label":"test-label","weight":10,"mode":"accept"}'
    form: {}
    headers:
      Authorization:
      - Bearer awesometokenawesometokenawesometoken
      Content-Type:
      - application/json
    url: https://api.linode.com/v4/nodebalancers/37832/configs/33571/nodes
    method: POST
  response:
    body: '{"status": "Unknown", "mode": "accept", "config_id": 33571, "address":
      "192.168.030.040:8080", "weight": 10, "label": "test-label", "nodebalancer_id":
      37832, "id": 316374}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - "111"
      X-Accepted-Oauth-Scopes:
      - nodebalancers:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
      X-Ratelimit-Remaining:
      - "397"
      X-Ratelimit-Reset:
      - "1533835243"
      X-Spec-Version:
      - 4.0.3
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer awesometokenawesometokenawesometoken
      Content-Type:
      - application/json
    url: https://api.linode.com/v4/nodebalancers/37832/configs/33571/nodes
    method: GET
  response:
    body: '{"results": 1, "data": [{"address": "192.168.030.040:8080", "id": 316374,
      "weight": 10, "nodebalancer_id": 37832, "mode": "accept", "status": "Unknown",
      "label": "test-label", "config_id": 33571}], "pages": 1, "page": 1}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - "109"
      X-Accepted-Oauth-Scopes:
      - nodebalancers:read_only
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
      X-Ratelimit-Remaining:
      - "395"
      X-Ratelimit-Reset:
      - "1533835241"
      X-Spec-Version:
      - 4.0.3
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer awesometokenawesometokenawesometoken
      Content-Type:
      - application/json
    url: https://api.linode.com/v4/nodebalancers/37832/configs/33571/nodes/316374
    method: DELETE
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - "118"
      X-Accepted-Oauth-Scopes:
      - nodebalancers:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
      X-Ratelimit-Remaining:
      - "398"
      X-Ratelimit-Reset:
      - "1533835250"
      X-Spec-Version:
      - 4.0.3
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer awesometokenawesometokenawesometoken
      Content-Type:
      - application/json
    url: https://api.linode.com/v4/nodebalancers/37832/configs/33571
    method: DELETE
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - "110"
      X-Accepted-Oauth-Scopes:
      - nodebalancers:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
      X-Ratelimit-Remaining:
      - "396"
      X-Ratelimit-Reset:
      - "1533835243"
      X-Spec-Version:
      - 4.0.3
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer awesometokenawesometokenawesometoken
      Content-Type:
      - application/json
    url: https://api.linode.com/v4/nodebalancers/37832
    method: DELETE
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - "108"
      X-Accepted-Oauth-Scopes:
      - nodebalancers:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
      X-Ratelimit-Remaining:
      - "394"
      X-Ratelimit-Reset:
      - "1533835241"
      X-Spec-Version:
      - 4.0.3
    status: 200 OK
    code: 200
    duration: ""
