---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer awesometokenawesometokenawesometoken
      Content-Type:
      - application/json
    url: https://api.linode.com/v4/linode/instances/76859403/disks
    method: GET
  response:
    body: '{"data": [{"updated": "2018-01-02T03:04:05", "created": "2018-01-02T03:04:05",
      "size": 50688, "status": "ready", "filesystem": "ext4", "id": 18974977, "label":
      "Ubuntu 18.04 LTS Disk"}, {"updated": "2018-01-02T03:04:05", "created": "2018-01-02T03:04:05",
      "size": 512, "status": "ready", "filesystem": "swap", "id": 18974978, "label":
      "512 MB Swap Image"}], "page": 1, "pages": 1, "results": 2}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - "28"
      X-Accepted-Oauth-Scopes:
      - linodes:read_only
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
      X-Ratelimit-Remaining:
      - "393"
      X-Ratelimit-Reset:
      - "1530581958"
      X-Spec-Version:
      - 4.0.2
    status: 200 OK
    code: 200
    duration: ""
