---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer awesometokenawesometokenawesometoken
      Content-Type:
      - application/json
    url: https://api.linode.com/v4/account
    method: GET
  response:
    body: '{"phone": "555-555-5555", "email": "linode+_go_@example.com", "address_2":
      "...", "company": "CompanyCo", "first_name": "Firsten", "address_1": "..", "country":
      "US", "state": "..", "zip": "12345", "balance": 0.0, "city": "....", "credit_card":
      {"expiry": "12/2099", "last_four": "5555"}, "last_name": "LastNamen", "tax_id":
      ""}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - "119"
      X-Accepted-Oauth-Scopes:
      - account:read_only
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
      X-Ratelimit-Remaining:
      - "399"
      X-Ratelimit-Reset:
      - "1530580762"
      X-Spec-Version:
      - 4.0.2
    status: 200 OK
    code: 200
    duration: ""
