---
version: 1
interactions:
- request:
    body: '{"domain":"7s73knsgh1t4vkia5736d8b4b6z0015g-linodego-testing.com","type":"master","soa_email":"example@example.com"}'
    form: {}
    headers:
      Authorization:
      - Bearer awesometokenawesometokenawesometoken
      Content-Type:
      - application/json
    url: https://api.linode.com/v4/domains
    method: POST
  response:
    body: '{"expire_sec": 0, "refresh_sec": 0, "type": "master", "group": "", "master_ips":
      [], "axfr_ips": [], "domain": "7s73knsgh1t4vkia5736d8b4b6z0015g-linodego-testing.com",
      "retry_sec": 0, "description": "", "soa_email": "example@example.com", "status":
      "active", "id": 1102857, "ttl_sec": 0}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - "18"
      X-Accepted-Oauth-Scopes:
      - domains:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
      X-Ratelimit-Remaining:
      - "398"
      X-Ratelimit-Reset:
      - "1532658149"
      X-Spec-Version:
      - 4.0.3
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"type":"A","name":"a","target":"010.020.030.040"}'
    form: {}
    headers:
      Authorization:
      - Bearer awesometokenawesometokenawesometoken
      Content-Type:
      - application/json
    url: https://api.linode.com/v4/domains/1102857/records
    method: POST
  response:
    body: '{"id": 10468300, "priority": 0, "tag": null, "port": 0, "protocol": null,
      "service": null, "target": "010.020.030.040", "type": "A", "name": "a", "ttl_sec":
      0, "weight": 0}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - "26"
      X-Accepted-Oauth-Scopes:
      - domains:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
      X-Ratelimit-Remaining:
      - "396"
      X-Ratelimit-Reset:
      - "1532658158"
      X-Spec-Version:
      - 4.0.3
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"name":"renamed"}'
    form: {}
    headers:
      Authorization:
      - Bearer awesometokenawesometokenawesometoken
      Content-Type:
      - application/json
    url: https://api.linode.com/v4/domains/1102857/records/10468300
    method: PUT
  response:
    body: '{"type": "A", "priority": 0, "protocol": null, "port": 0, "target": "010.020.030.040",
      "id": 10468300, "tag": null, "weight": 0, "service": null, "name": "renamed",
      "ttl_sec": 0}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - "16"
      X-Accepted-Oauth-Scopes:
      - domains:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
      X-Ratelimit-Remaining:
      - "395"
      X-Ratelimit-Reset:
      - "1532658148"
      X-Spec-Version:
      - 4.0.3
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer awesometokenawesometokenawesometoken
      Content-Type:
      - application/json
    url: https://api.linode.com/v4/domains/1102857
    method: DELETE
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - "25"
      X-Accepted-Oauth-Scopes:
      - domains:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
      X-Ratelimit-Remaining:
      - "395"
      X-Ratelimit-Reset:
      - "1532658158"
      X-Spec-Version:
      - 4.0.3
    status: 200 OK
    code: 200
    duration: ""
