site_name: external-dns
site_author: external-dns maintainers
repo_name: kubernetes-sigs/external-dns
repo_url: https://github.com/kubernetes-sigs/external-dns/

docs_dir: .

nav:
  - README.md
  - Chart:
      - About: charts/external-dns/README.md
      - Changelog: charts/external-dns/CHANGELOG.md
  - About:
      - FAQ: docs/faq.md
      - Flags: docs/flags.md
      - Out of Incubator: docs/20190708-external-dns-incubator.md
      - Code of Conduct: code-of-conduct.md
      - License: LICENSE.md
      - Providers: docs/providers.md
      - Version Update: docs/version-update-playbook.md
  - Tutorials: docs/tutorials/*
  - Annotations:
      - About: docs/annotations/annotations.md
  - Sources: docs/sources/*
  - Registries:
      - About: docs/registry/registry.md
      - TXT: docs/registry/txt.md
      - DynamoDB: docs/registry/dynamodb.md
  - Advanced Topics:
      - FQDN Templating: docs/advanced/fqdn-templating.md
      - Import Records: docs/advanced/import-records.md
      - Initial Design: docs/initial-design.md
      - Kubernetes Events: docs/advanced/events.md
      - Leader Election: docs/proposal/001-leader-election.md
      - Monitoring: docs/monitoring/*
      - MultiTarget: docs/proposal/multi-target.md
      - NAT64: docs/advanced/nat64.md
      - Rate Limits: docs/advanced/rate-limits.md
      - TTL: docs/advanced/ttl.md
      - Decisions: docs/proposal/0*.md
      - Configuration Precedence: docs/advanced/configuration-precedence.md
      - Split Horizon DNS: docs/advanced/split-horizon.md
  - Contributing:
      - Kubernetes Contributions: CONTRIBUTING.md
      - Release: docs/release.md
      - Deprecation Policy: docs/deprecation.md
      - docs/contributing/*

theme:
  name: material
  custom_dir: docs/overrides
  features:
    - content.code.annotate
    - navigation.top
    - navigation.tracking
    - navigation.indexes
    - navigation.instant
    - navigation.tabs
    - navigation.tabs.sticky

extra:
  version:
    provider: mike

markdown_extensions:
  - meta
  - tables
  - toc:
      permalink: true
  - abbr
  - extra
  - admonition
  - smarty
  - nl2br
  - mdx_truly_sane_lists:
      nested_indent: 2
  - attr_list
  - def_list
  - footnotes
  - md_in_html
  - pymdownx.arithmatex:
      generic: true
  - pymdownx.betterem:
      smart_enable: all
  - pymdownx.caret
  - pymdownx.details
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - pymdownx.highlight:
      use_pygments: true
      anchor_linenums: true
  - pymdownx.inlinehilite
  - pymdownx.keys
  - pymdownx.mark
  - pymdownx.smartsymbols
  - pymdownx.snippets
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.tilde
  - pymdownx.tasklist:
      custom_checkbox: true

plugins:
  - same-dir
  - search
  - literate-nav
  - git-revision-date-localized:
      type: date
      fallback_to_build_date: true
  # https://mkdocs-macros-plugin.readthedocs.io/en/latest/
  - macros:
      include_dir: docs/snippets
      # required, as default jinja markers are {{ and }}
      # ref: https://mkdocs-macros-plugin.readthedocs.io/en/latest/rendering/#solution-5-altering-the-syntax-of-jinja2-for-mkdocs-macros
      j2_block_start_string: '[[%'
      j2_block_end_string: '%]]'
      j2_variable_start_string: '[['
      j2_variable_end_string: ']]'
      j2_comment_start_string: '[[#'
      j2_comment_end_string: '#]]'
