{
  "ownerDomain": "google.com",
  "name": "manufacturers",
  "batchPath": "batch",
  "title": "Manufacturer Center API",
  "ownerName": "Google",
  "resources": {
    "accounts": {
      "resources": {
        "products": {
          "methods": {
            "list": {
              "description": "Lists all the products in a Manufacturer Center account.",
              "response": {
                "$ref": "ListProductsResponse"
              },
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/manufacturercenter"
              ],
              "parameters": {
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "The token returned by the previous request."
                },
                "pageSize": {
                  "description": "Maximum number of product statuses to return in the response, used for\npaging.",
                  "format": "int32",
                  "type": "integer",
                  "location": "query"
                },
                "parent": {
                  "location": "path",
                  "description": "Parent ID in the format `accounts/{account_id}`.\n\n`account_id` - The ID of the Manufacturer Center account.",
                  "required": true,
                  "type": "string",
                  "pattern": "^accounts/[^/]+$"
                }
              },
              "flatPath": "v1/accounts/{accountsId}/products",
              "path": "v1/{+parent}/products",
              "id": "manufacturers.accounts.products.list"
            },
            "get": {
              "description": "Gets the product from a Manufacturer Center account, including product\nissues.",
              "httpMethod": "GET",
              "response": {
                "$ref": "Product"
              },
              "parameterOrder": [
                "parent",
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/manufacturercenter"
              ],
              "parameters": {
                "parent": {
                  "description": "Parent ID in the format `accounts/{account_id}`.\n\n`account_id` - The ID of the Manufacturer Center account.",
                  "required": true,
                  "type": "string",
                  "pattern": "^accounts/[^/]+$",
                  "location": "path"
                },
                "name": {
                  "description": "Name in the format `{target_country}:{content_language}:{product_id}`.\n\n`target_country`   - The target country of the product as a CLDR territory\n                     code (for example, US).\n\n`content_language` - The content language of the product as a two-letter\n                     ISO 639-1 language code (for example, en).\n\n`product_id`     -   The ID of the product. For more information, see\n                     https://support.google.com/manufacturers/answer/6124116#id.",
                  "required": true,
                  "type": "string",
                  "pattern": "^[^/]+$",
                  "location": "path"
                }
              },
              "flatPath": "v1/accounts/{accountsId}/products/{productsId}",
              "id": "manufacturers.accounts.products.get",
              "path": "v1/{+parent}/products/{+name}"
            }
          }
        }
      }
    }
  },
  "parameters": {
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    },
    "prettyPrint": {
      "type": "boolean",
      "default": "true",
      "location": "query",
      "description": "Returns response with indentations and line breaks."
    },
    "uploadType": {
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string"
    },
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "$.xgafv": {
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format."
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "description": "Data format for response.",
      "default": "json"
    },
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    },
    "key": {
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    },
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    },
    "pp": {
      "description": "Pretty-print response.",
      "type": "boolean",
      "default": "true",
      "location": "query"
    },
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    },
    "bearer_token": {
      "description": "OAuth bearer token.",
      "type": "string",
      "location": "query"
    }
  },
  "version": "v1",
  "baseUrl": "https://manufacturers.googleapis.com/",
  "kind": "discovery#restDescription",
  "description": "Public API for managing Manufacturer Center related data.",
  "servicePath": "",
  "basePath": "",
  "revision": "20170322",
  "documentationLink": "https://developers.google.com/manufacturers/",
  "id": "manufacturers:v1",
  "discoveryVersion": "v1",
  "version_module": "True",
  "schemas": {
    "Price": {
      "id": "Price",
      "description": "A price.",
      "type": "object",
      "properties": {
        "currency": {
          "description": "The currency in which the price is denoted.",
          "type": "string"
        },
        "amount": {
          "description": "The numeric value of the price.",
          "type": "string"
        }
      }
    },
    "Image": {
      "properties": {
        "status": {
          "enumDescriptions": [
            "Status is unspecified. Should not be used.",
            "Image was uploaded and is being processed.",
            "The image crawl is still pending.",
            "The image was processed and it meets the requirements.",
            "The image URL is protected by robots.txt file and cannot be crawled.",
            "The image URL is protected by X-Robots-Tag and cannot be crawled.",
            "There was an error while crawling the image.",
            "The image cannot be processed.",
            "The image cannot be decoded.",
            "The image is too big.",
            "The image was manually overridden and will not be crawled."
          ],
          "enum": [
            "STATUS_UNSPECIFIED",
            "PENDING_PROCESSING",
            "PENDING_CRAWL",
            "OK",
            "ROBOTED",
            "XROBOTED",
            "CRAWL_ERROR",
            "PROCESSING_ERROR",
            "DECODING_ERROR",
            "TOO_BIG",
            "CRAWL_SKIPPED"
          ],
          "description": "The status of the image.\n@OutputOnly",
          "type": "string"
        },
        "type": {
          "enumDescriptions": [
            "Type is unspecified. Should not be used.",
            "The image was crawled from a provided URL.",
            "The image was uploaded."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "CRAWLED",
            "UPLOADED"
          ],
          "description": "The type of the image, i.e., crawled or uploaded.\n@OutputOnly",
          "type": "string"
        },
        "imageUrl": {
          "description": "The URL of the image. For crawled images, this is the provided URL. For\nuploaded images, this is a serving URL from Google if the image has been\nprocessed successfully.",
          "type": "string"
        }
      },
      "id": "Image",
      "description": "An image.",
      "type": "object"
    },
    "Attributes": {
      "description": "Attributes of the product. For more information, see\nhttps://support.google.com/manufacturers/answer/6124116.",
      "type": "object",
      "properties": {
        "theme": {
          "type": "string",
          "description": "The theme of the product. For more information, see\nhttps://support.google.com/manufacturers/answer/6124116#theme."
        },
        "pattern": {
          "description": "The pattern of the product. For more information, see\nhttps://support.google.com/manufacturers/answer/6124116#pattern.",
          "type": "string"
        },
        "imageLink": {
          "$ref": "Image",
          "description": "The image of the product. For more information, see\nhttps://support.google.com/manufacturers/answer/6124116#image."
        },
        "productType": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The category of the product. For more information, see\nhttps://support.google.com/manufacturers/answer/6124116#producttype."
        },
        "format": {
          "description": "The format of the product. For more information, see\nhttps://support.google.com/manufacturers/answer/6124116#format.",
          "type": "string"
        },
        "additionalImageLink": {
          "description": "The additional images of the product. For more information, see\nhttps://support.google.com/manufacturers/answer/6124116#addlimage.",
          "type": "array",
          "items": {
            "$ref": "Image"
          }
        },
        "videoLink": {
          "description": "The videos of the product. For more information, see\nhttps://support.google.com/manufacturers/answer/6124116#video.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "color": {
          "description": "The color of the product. For more information, see\nhttps://support.google.com/manufacturers/answer/6124116#color.",
          "type": "string"
        },
        "productName": {
          "description": "The canonical name of the product. For more information, see\nhttps://support.google.com/manufacturers/answer/6124116#productname.",
          "type": "string"
        },
        "sizeType": {
          "description": "The size type of the product. For more information, see\nhttps://support.google.com/manufacturers/answer/6124116#sizetype.",
          "type": "string"
        },
        "suggestedRetailPrice": {
          "description": "The suggested retail price (MSRP) of the product. For more information,\nsee https://support.google.com/manufacturers/answer/6124116#price.",
          "$ref": "Price"
        },
        "featureDescription": {
          "description": "The rich format description of the product. For more information, see\nhttps://support.google.com/manufacturers/answer/6124116#featuredesc.",
          "type": "array",
          "items": {
            "$ref": "FeatureDescription"
          }
        },
        "size": {
          "description": "The size of the product. For more information, see\nhttps://support.google.com/manufacturers/answer/6124116#size.",
          "type": "string"
        },
        "title": {
          "description": "The title of the product. For more information, see\nhttps://support.google.com/manufacturers/answer/6124116#title.",
          "type": "string"
        },
        "count": {
          "description": "The count of the product. For more information, see\nhttps://support.google.com/manufacturers/answer/6124116#count.",
          "$ref": "Count"
        },
        "brand": {
          "description": "The brand name of the product. For more information, see\nhttps://support.google.com/manufacturers/answer/6124116#brand.",
          "type": "string"
        },
        "disclosureDate": {
          "description": "The disclosure date of the product. For more information, see\nhttps://support.google.com/manufacturers/answer/6124116#disclosure.",
          "type": "string"
        },
        "material": {
          "description": "The material of the product. For more information, see\nhttps://support.google.com/manufacturers/answer/6124116#material.",
          "type": "string"
        },
        "scent": {
          "description": "The scent of the product. For more information, see\n https://support.google.com/manufacturers/answer/6124116#scent.",
          "type": "string"
        },
        "ageGroup": {
          "description": "The target age group of the product. For more information, see\nhttps://support.google.com/manufacturers/answer/6124116#agegroup.",
          "type": "string"
        },
        "productDetail": {
          "description": "The details of the product. For more information, see\nhttps://support.google.com/manufacturers/answer/6124116#productdetail.",
          "type": "array",
          "items": {
            "$ref": "ProductDetail"
          }
        },
        "flavor": {
          "description": "The flavor of the product. For more information, see\nhttps://support.google.com/manufacturers/answer/6124116#flavor.",
          "type": "string"
        },
        "productPageUrl": {
          "description": "The URL of the detail page of the product. For more information, see\nhttps://support.google.com/manufacturers/answer/6124116#productpage.",
          "type": "string"
        },
        "mpn": {
          "description": "The Manufacturer Part Number (MPN) of the product. For more information,\nsee https://support.google.com/manufacturers/answer/6124116#mpn.",
          "type": "string"
        },
        "releaseDate": {
          "description": "The release date of the product. For more information, see\nhttps://support.google.com/manufacturers/answer/6124116#release.",
          "type": "string"
        },
        "itemGroupId": {
          "description": "The item group id of the product. For more information, see\nhttps://support.google.com/manufacturers/answer/6124116#itemgroupid.",
          "type": "string"
        },
        "gtin": {
          "description": "The Global Trade Item Number (GTIN) of the product. For more information,\nsee https://support.google.com/manufacturers/answer/6124116#gtin.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "productLine": {
          "description": "The name of the group of products related to the product. For more\ninformation, see\nhttps://support.google.com/manufacturers/answer/6124116#productline.",
          "type": "string"
        },
        "capacity": {
          "$ref": "Capacity",
          "description": "The capacity of the product. For more information, see\nhttps://support.google.com/manufacturers/answer/6124116#capacity."
        },
        "description": {
          "description": "The description of the product. For more information, see\nhttps://support.google.com/manufacturers/answer/6124116#description.",
          "type": "string"
        },
        "gender": {
          "description": "The target gender of the product. For more information, see\nhttps://support.google.com/manufacturers/answer/6124116#gender.",
          "type": "string"
        },
        "sizeSystem": {
          "type": "string",
          "description": "The size system of the product. For more information, see\nhttps://support.google.com/manufacturers/answer/6124116#sizesystem."
        }
      },
      "id": "Attributes"
    },
    "Count": {
      "id": "Count",
      "description": "The number of products in a single package. For more information, see\nhttps://support.google.com/manufacturers/answer/6124116#count.",
      "type": "object",
      "properties": {
        "value": {
          "type": "string",
          "description": "The numeric value of the number of products in a package.",
          "format": "int64"
        },
        "unit": {
          "type": "string",
          "description": "The unit in which these products are counted."
        }
      }
    },
    "Product": {
      "description": "Product data.",
      "type": "object",
      "properties": {
        "uploadedAttributes": {
          "$ref": "Attributes",
          "description": "Attributes of the product uploaded via the Manufacturer Center API or via\nfeeds."
        },
        "parent": {
          "description": "Parent ID in the format `accounts/{account_id}`.\n\n`account_id` - The ID of the Manufacturer Center account.\n@OutputOnly",
          "type": "string"
        },
        "manuallyProvidedAttributes": {
          "$ref": "Attributes",
          "description": "Attributes of the product provided manually via the Manufacturer Center UI.\n@OutputOnly"
        },
        "contentLanguage": {
          "description": "The content language of the product as a two-letter ISO 639-1 language code\n(for example, en).\n@OutputOnly",
          "type": "string"
        },
        "targetCountry": {
          "description": "The target country of the product as a CLDR territory code (for example,\nUS).\n@OutputOnly",
          "type": "string"
        },
        "name": {
          "description": "Name in the format `{target_country}:{content_language}:{product_id}`.\n\n`target_country`   - The target country of the product as a CLDR territory\n                     code (for example, US).\n\n`content_language` - The content language of the product as a two-letter\n                     ISO 639-1 language code (for example, en).\n\n`product_id`     -   The ID of the product. For more information, see\n                     https://support.google.com/manufacturers/answer/6124116#id.\n@OutputOnly",
          "type": "string"
        },
        "issues": {
          "type": "array",
          "items": {
            "$ref": "Issue"
          },
          "description": "A server-generated list of issues associated with the product.\n@OutputOnly"
        },
        "manuallyDeletedAttributes": {
          "description": "Names of the attributes of the product deleted manually via the\nManufacturer Center UI.\n@OutputOnly",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "finalAttributes": {
          "description": "Final attributes of the product. The final attributes are obtained by\noverriding the uploaded attributes with the manually provided and deleted\nattributes. Google systems only process, evaluate, review, and/or use final\nattributes.\n@OutputOnly",
          "$ref": "Attributes"
        },
        "productId": {
          "description": "The ID of the product. For more information, see\nhttps://support.google.com/manufacturers/answer/6124116#id.\n@OutputOnly",
          "type": "string"
        }
      },
      "id": "Product"
    },
    "Capacity": {
      "description": "The capacity of a product. For more information, see\nhttps://support.google.com/manufacturers/answer/6124116#capacity.",
      "type": "object",
      "properties": {
        "value": {
          "description": "The numeric value of the capacity.",
          "format": "int64",
          "type": "string"
        },
        "unit": {
          "type": "string",
          "description": "The unit of the capacity, i.e., MB, GB, or TB."
        }
      },
      "id": "Capacity"
    },
    "ListProductsResponse": {
      "type": "object",
      "properties": {
        "products": {
          "description": "List of the products.",
          "type": "array",
          "items": {
            "$ref": "Product"
          }
        },
        "nextPageToken": {
          "description": "The token for the retrieval of the next page of product statuses.",
          "type": "string"
        }
      },
      "id": "ListProductsResponse"
    },
    "ProductDetail": {
      "description": "A product detail of the product. For more information, see\nhttps://support.google.com/manufacturers/answer/6124116#productdetail.",
      "type": "object",
      "properties": {
        "attributeName": {
          "description": "The name of the attribute.",
          "type": "string"
        },
        "attributeValue": {
          "description": "The value of the attribute.",
          "type": "string"
        },
        "sectionName": {
          "description": "A short section name that can be reused between multiple product details.",
          "type": "string"
        }
      },
      "id": "ProductDetail"
    },
    "FeatureDescription": {
      "properties": {
        "image": {
          "$ref": "Image",
          "description": "An optional image describing the feature."
        },
        "headline": {
          "description": "A short description of the feature.",
          "type": "string"
        },
        "text": {
          "description": "A detailed description of the feature.",
          "type": "string"
        }
      },
      "id": "FeatureDescription",
      "description": "A feature description of the product. For more information, see\nhttps://support.google.com/manufacturers/answer/6124116#featuredesc.",
      "type": "object"
    },
    "Issue": {
      "description": "Product issue.",
      "type": "object",
      "properties": {
        "description": {
          "description": "Description of the issue.",
          "type": "string"
        },
        "type": {
          "description": "The server-generated type of the issue, for example,\n“INCORRECT_TEXT_FORMATTING”, “IMAGE_NOT_SERVEABLE”, etc.",
          "type": "string"
        },
        "attribute": {
          "type": "string",
          "description": "If present, the attribute that triggered the issue. For more information\nabout attributes, see\nhttps://support.google.com/manufacturers/answer/6124116."
        },
        "timestamp": {
          "description": "The timestamp when this issue appeared.",
          "format": "google-datetime",
          "type": "string"
        },
        "severity": {
          "enumDescriptions": [
            "Unspecified severity, never used.",
            "Error severity. The issue prevents the usage of the whole item.",
            "Warning severity. The issue is either one that prevents the usage of the\nattribute that triggered it or one that will soon prevent the usage of\nthe whole item.",
            "Info severity. The issue is one that doesn't require immediate attention.\nIt is, for example, used to communicate which attributes are still\npending review."
          ],
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "ERROR",
            "WARNING",
            "INFO"
          ],
          "description": "The severity of the issue.",
          "type": "string"
        }
      },
      "id": "Issue"
    }
  },
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "protocol": "rest",
  "canonicalName": "Manufacturer Center",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/manufacturercenter": {
          "description": "Manage your product listings for Google Manufacturer Center"
        }
      }
    }
  },
  "rootUrl": "https://manufacturers.googleapis.com/"
}
