{
  "servicePath": "",
  "kind": "discovery#restDescription",
  "description": "The Google Data Loss Prevention API provides methods for detection of privacy-sensitive fragments in text, images, and Google Cloud Platform storage repositories.",
  "basePath": "",
  "id": "dlp:v2beta1",
  "revision": "20170321",
  "documentationLink": "https://cloud.google.com/dlp/docs/",
  "discoveryVersion": "v1",
  "version_module": "True",
  "schemas": {
    "Empty": {
      "properties": {},
      "id": "Empty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated\nempty messages in your APIs. A typical example is to use it as the request\nor the response type of an API method. For instance:\n\n    service Foo {\n      rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty);\n    }\n\nThe JSON representation for `Empty` is empty JSON object `{}`.",
      "type": "object"
    },
    "ListRootCategoriesResponse": {
      "description": "Response for ListRootCategories request.",
      "type": "object",
      "properties": {
        "categories": {
          "description": "List of all into type categories supported by the API.",
          "type": "array",
          "items": {
            "$ref": "CategoryDescription"
          }
        }
      },
      "id": "ListRootCategoriesResponse"
    },
    "DatastoreKey": {
      "properties": {
        "entityKey": {
          "$ref": "Key",
          "description": "Datastore entity key."
        }
      },
      "id": "DatastoreKey",
      "description": "Record key for a finding in Cloud Datastore.",
      "type": "object"
    },
    "Location": {
      "description": "Specifies the location of a finding within its source item.",
      "type": "object",
      "properties": {
        "recordKey": {
          "$ref": "RecordKey",
          "description": "Key of the finding."
        },
        "codepointRange": {
          "description": "Character offsets within a content item, included when content type\nis a text. Default charset assumed to be UTF-8.",
          "$ref": "Range"
        },
        "fieldId": {
          "$ref": "FieldId",
          "description": "Field id of the field containing the finding."
        },
        "imageBoxes": {
          "description": "Location within an image's pixels.",
          "type": "array",
          "items": {
            "$ref": "ImageLocation"
          }
        },
        "byteRange": {
          "$ref": "Range",
          "description": "Zero-based byte offsets within a content item."
        }
      },
      "id": "Location"
    },
    "ListInspectFindingsResponse": {
      "properties": {
        "nextPageToken": {
          "description": "If not empty, indicates that there may be more results that match the\nrequest; this value should be passed in a new `ListInspectFindingsRequest`.",
          "type": "string"
        },
        "result": {
          "description": "The results.",
          "$ref": "InspectResult"
        }
      },
      "id": "ListInspectFindingsResponse",
      "description": "Response to the ListInspectFindings request.",
      "type": "object"
    },
    "RecordKey": {
      "properties": {
        "cloudStorageKey": {
          "$ref": "CloudStorageKey"
        },
        "datastoreKey": {
          "$ref": "DatastoreKey"
        }
      },
      "id": "RecordKey",
      "description": "Message for a unique key indicating a record that contains a finding.",
      "type": "object"
    },
    "Finding": {
      "description": "Container structure describing a single finding within a string or image.",
      "type": "object",
      "properties": {
        "infoType": {
          "description": "The specific type of info the string might be.",
          "$ref": "InfoType"
        },
        "createTime": {
          "description": "Timestamp when finding was detected.",
          "format": "google-datetime",
          "type": "string"
        },
        "quote": {
          "description": "The specific string that may be potentially sensitive info.",
          "type": "string"
        },
        "location": {
          "description": "Location of the info found.",
          "$ref": "Location"
        },
        "likelihood": {
          "enum": [
            "LIKELIHOOD_UNSPECIFIED",
            "VERY_UNLIKELY",
            "UNLIKELY",
            "POSSIBLE",
            "LIKELY",
            "VERY_LIKELY"
          ],
          "description": "Estimate of how likely it is that the info_type is correct.",
          "type": "string",
          "enumDescriptions": [
            "Default value; information with all likelihoods will be included.",
            "Few matching elements.",
            "",
            "Some matching elements.",
            "",
            "Many matching elements."
          ]
        }
      },
      "id": "Finding"
    },
    "ContentItem": {
      "properties": {
        "value": {
          "description": "String data to inspect or redact.",
          "type": "string"
        },
        "data": {
          "description": "Content data to inspect or redact.",
          "format": "byte",
          "type": "string"
        },
        "type": {
          "description": "Type of the content, as defined in Content-Type HTTP header.\nSupported types are: all \"text\" types, octet streams, PNG images,\nJPEG images.",
          "type": "string"
        }
      },
      "id": "ContentItem",
      "description": "Container structure for the content to inspect.",
      "type": "object"
    },
    "InspectContentResponse": {
      "properties": {
        "results": {
          "description": "Each content_item from the request will have a result in this list, in the\nsame order as the request.",
          "type": "array",
          "items": {
            "$ref": "InspectResult"
          }
        }
      },
      "id": "InspectContentResponse",
      "description": "Results of inspecting a list of items.",
      "type": "object"
    },
    "CreateInspectOperationRequest": {
      "properties": {
        "inspectConfig": {
          "description": "Configuration for the inspector.",
          "$ref": "InspectConfig"
        },
        "storageConfig": {
          "$ref": "StorageConfig",
          "description": "Specification of the data set to process."
        }
      },
      "id": "CreateInspectOperationRequest",
      "description": "Request for scheduling a scan of a data subset from a Google Platform data\nrepository.",
      "type": "object"
    },
    "FileSet": {
      "description": "Set of files to scan.",
      "type": "object",
      "properties": {
        "url": {
          "description": "The url, in the format gs://\u003cbucket\u003e/\u003cpath\u003e. Trailing wildcard in the\npath is allowed.",
          "type": "string"
        }
      },
      "id": "FileSet"
    },
    "ReplaceConfig": {
      "type": "object",
      "properties": {
        "infoType": {
          "description": "Type of information to replace. Only one ReplaceConfig per info_type\nshould be provided. If ReplaceConfig does not have an info_type, we'll\nmatch it against all info_types that are found but not specified in\nanother ReplaceConfig.",
          "$ref": "InfoType"
        },
        "replaceWith": {
          "description": "Content replacing sensitive information of given type. Max 256 chars.",
          "type": "string"
        }
      },
      "id": "ReplaceConfig"
    },
    "InfoType": {
      "properties": {
        "name": {
          "description": "Name of the information type, provided by the API call ListInfoTypes.",
          "type": "string"
        }
      },
      "id": "InfoType",
      "description": "Type of information detected by the API.",
      "type": "object"
    },
    "InspectConfig": {
      "properties": {
        "maxFindings": {
          "description": "Limit the number of findings per content item.",
          "format": "int32",
          "type": "integer"
        },
        "infoTypes": {
          "description": "Restrict what info_types to look for. The values must correspond to\nInfoType values returned by ListInfoTypes or found in documentation.\nEmpty info_types runs all enabled detectors.",
          "type": "array",
          "items": {
            "$ref": "InfoType"
          }
        },
        "excludeTypes": {
          "description": "When true, exclude type information of the findings.",
          "type": "boolean"
        },
        "includeQuote": {
          "description": "When true, a contextual quote from the data that triggered a finding will\nbe included in the response; see Finding.quote.",
          "type": "boolean"
        },
        "minLikelihood": {
          "enumDescriptions": [
            "Default value; information with all likelihoods will be included.",
            "Few matching elements.",
            "",
            "Some matching elements.",
            "",
            "Many matching elements."
          ],
          "enum": [
            "LIKELIHOOD_UNSPECIFIED",
            "VERY_UNLIKELY",
            "UNLIKELY",
            "POSSIBLE",
            "LIKELY",
            "VERY_LIKELY"
          ],
          "description": "Only return findings equal or above this threshold.",
          "type": "string"
        }
      },
      "id": "InspectConfig",
      "description": "Configuration description of the scanning process.\nWhen used with redactContent only info_types and min_likelihood are currently\nused.",
      "type": "object"
    },
    "StorageConfig": {
      "description": "Shared message indicating Cloud storage type.",
      "type": "object",
      "properties": {
        "cloudStorageOptions": {
          "description": "Google Cloud Storage options specification.",
          "$ref": "CloudStorageOptions"
        },
        "datastoreOptions": {
          "description": "Google Cloud Datastore options specification.",
          "$ref": "DatastoreOptions"
        }
      },
      "id": "StorageConfig"
    },
    "RedactContentRequest": {
      "properties": {
        "replaceConfigs": {
          "description": "The strings to replace findings with. Must specify at least one.",
          "type": "array",
          "items": {
            "$ref": "ReplaceConfig"
          }
        },
        "inspectConfig": {
          "$ref": "InspectConfig",
          "description": "Configuration for the inspector."
        },
        "items": {
          "description": "The list of items to inspect. Up to 100 are allowed per request.",
          "type": "array",
          "items": {
            "$ref": "ContentItem"
          }
        }
      },
      "id": "RedactContentRequest",
      "description": "Request to search for potentially sensitive info in a list of items\nand replace it with a default or provided content.",
      "type": "object"
    },
    "PartitionId": {
      "properties": {
        "databaseId": {
          "description": "If not empty, the ID of the database to which the entities\nbelong.",
          "type": "string"
        },
        "namespaceId": {
          "description": "If not empty, the ID of the namespace to which the entities belong.",
          "type": "string"
        },
        "projectId": {
          "description": "The ID of the project to which the entities belong.",
          "type": "string"
        }
      },
      "id": "PartitionId",
      "description": "Datastore partition ID.\nA partition ID identifies a grouping of entities. The grouping is always\nby project and namespace, however the namespace ID may be empty.\n\nA partition ID contains several dimensions:\nproject ID and namespace ID.",
      "type": "object"
    },
    "CategoryDescription": {
      "description": "Info Type Category description.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Internal name of the category.",
          "type": "string"
        },
        "displayName": {
          "description": "Human readable form of the category name.",
          "type": "string"
        }
      },
      "id": "CategoryDescription"
    },
    "CancelOperationRequest": {
      "description": "The request message for Operations.CancelOperation.",
      "type": "object",
      "properties": {},
      "id": "CancelOperationRequest"
    },
    "Operation": {
      "properties": {
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress.\nIf true, the operation is completed, and either `error` or `response` is\navailable.",
          "type": "boolean"
        },
        "response": {
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "description": "This field will contain an `InspectOperationResult` object.",
          "type": "object"
        },
        "name": {
          "description": "The server-assigned name, The `name` should have the format of `inspect/operations/\u003cidentifier\u003e`.",
          "type": "string"
        },
        "error": {
          "$ref": "Status",
          "description": "The error result of the operation in case of failure or cancellation."
        },
        "metadata": {
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "description": "This field will contain an `InspectOperationMetdata` object.",
          "type": "object"
        }
      },
      "id": "Operation",
      "description": "This resource represents a long-running operation that is the result of a\nnetwork API call.",
      "type": "object"
    },
    "CloudStorageOptions": {
      "description": "Options defining a file or a set of files (path ending with *) within\na Google Cloud Storage bucket.",
      "type": "object",
      "properties": {
        "fileSet": {
          "$ref": "FileSet"
        }
      },
      "id": "CloudStorageOptions"
    },
    "PathElement": {
      "properties": {
        "id": {
          "description": "The auto-allocated ID of the entity.\nNever equal to zero. Values less than zero are discouraged and may not\nbe supported in the future.",
          "format": "int64",
          "type": "string"
        },
        "name": {
          "description": "The name of the entity.\nA name matching regex `__.*__` is reserved/read-only.\nA name must not be more than 1500 bytes when UTF-8 encoded.\nCannot be `\"\"`.",
          "type": "string"
        },
        "kind": {
          "description": "The kind of the entity.\nA kind matching regex `__.*__` is reserved/read-only.\nA kind must not contain more than 1500 bytes when UTF-8 encoded.\nCannot be `\"\"`.",
          "type": "string"
        }
      },
      "id": "PathElement",
      "description": "A (kind, ID/name) pair used to construct a key path.\n\nIf either name or ID is set, the element is complete.\nIf neither is set, the element is incomplete.",
      "type": "object"
    },
    "InspectResult": {
      "properties": {
        "findingsTruncated": {
          "description": "If true, then this item might have more findings than were returned,\nand the findings returned are an arbitrary subset of all findings.\nThe findings list might be truncated because the input items were too\nlarge, or because the server reached the maximum amount of resources\nallowed for a single API call. For best results, divide the input into\nsmaller batches.",
          "type": "boolean"
        },
        "findings": {
          "description": "List of findings for an item.",
          "type": "array",
          "items": {
            "$ref": "Finding"
          }
        }
      },
      "id": "InspectResult",
      "description": "All the findings for a single scanned item.",
      "type": "object"
    },
    "Status": {
      "properties": {
        "message": {
          "description": "A developer-facing error message, which should be in English. Any\nuser-facing error message should be localized and sent in the\ngoogle.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "details": {
          "description": "A list of messages that carry the error details.  There will be a\ncommon set of message types for APIs to use.",
          "type": "array",
          "items": {
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            },
            "type": "object"
          }
        },
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "Status",
      "description": "The `Status` type defines a logical error model that is suitable for different\nprogramming environments, including REST APIs and RPC APIs. It is used by\n[gRPC](https://github.com/grpc). The error model is designed to be:\n\n- Simple to use and understand for most users\n- Flexible enough to meet unexpected needs\n\n# Overview\n\nThe `Status` message contains three pieces of data: error code, error message,\nand error details. The error code should be an enum value of\ngoogle.rpc.Code, but it may accept additional error codes if needed.  The\nerror message should be a developer-facing English message that helps\ndevelopers *understand* and *resolve* the error. If a localized user-facing\nerror message is needed, put the localized message in the error details or\nlocalize it in the client. The optional error details may contain arbitrary\ninformation about the error. There is a predefined set of error detail types\nin the package `google.rpc` which can be used for common error conditions.\n\n# Language mapping\n\nThe `Status` message is the logical representation of the error model, but it\nis not necessarily the actual wire format. When the `Status` message is\nexposed in different client libraries and different wire protocols, it can be\nmapped differently. For example, it will likely be mapped to some exceptions\nin Java, but more likely mapped to some error codes in C.\n\n# Other uses\n\nThe error model and the `Status` message can be used in a variety of\nenvironments, either with or without APIs, to provide a\nconsistent developer experience across different environments.\n\nExample uses of this error model include:\n\n- Partial errors. If a service needs to return partial errors to the client,\n    it may embed the `Status` in the normal response to indicate the partial\n    errors.\n\n- Workflow errors. A typical workflow has multiple steps. Each step may\n    have a `Status` message for error reporting purpose.\n\n- Batch operations. If a client uses batch request and batch response, the\n    `Status` message should be used directly inside batch response, one for\n    each error sub-response.\n\n- Asynchronous operations. If an API call embeds asynchronous operation\n    results in its response, the status of those operations should be\n    represented directly using the `Status` message.\n\n- Logging. If some API errors are stored in logs, the message `Status` could\n    be used directly after any stripping needed for security/privacy reasons.",
      "type": "object"
    },
    "RedactContentResponse": {
      "properties": {
        "items": {
          "description": "The redacted content.",
          "type": "array",
          "items": {
            "$ref": "ContentItem"
          }
        }
      },
      "id": "RedactContentResponse",
      "description": "Results of deidentifying a list of items.",
      "type": "object"
    },
    "Range": {
      "properties": {
        "start": {
          "description": "Index of the first character of the range (inclusive).",
          "format": "int64",
          "type": "string"
        },
        "end": {
          "description": "Index of the last character of the range (exclusive).",
          "format": "int64",
          "type": "string"
        }
      },
      "id": "Range",
      "description": "Generic half-open interval [start, end)",
      "type": "object"
    },
    "FieldId": {
      "description": "General identifier of a data field in a storage service.",
      "type": "object",
      "properties": {
        "columnName": {
          "description": "Column name describing the field.",
          "type": "string"
        }
      },
      "id": "FieldId"
    },
    "KindExpression": {
      "description": "A representation of a Datastore kind.",
      "type": "object",
      "properties": {
        "name": {
          "description": "The name of the kind.",
          "type": "string"
        }
      },
      "id": "KindExpression"
    },
    "ListInfoTypesResponse": {
      "properties": {
        "infoTypes": {
          "description": "Set of sensitive info types belonging to a category.",
          "type": "array",
          "items": {
            "$ref": "InfoTypeDescription"
          }
        }
      },
      "id": "ListInfoTypesResponse",
      "description": "Response to the ListInfoTypes request.",
      "type": "object"
    },
    "Key": {
      "properties": {
        "path": {
          "description": "The entity path.\nAn entity path consists of one or more elements composed of a kind and a\nstring or numerical identifier, which identify entities. The first\nelement identifies a _root entity_, the second element identifies\na _child_ of the root entity, the third element identifies a child of the\nsecond entity, and so forth. The entities identified by all prefixes of\nthe path are called the element's _ancestors_.\n\nA path can never be empty, and a path can have at most 100 elements.",
          "type": "array",
          "items": {
            "$ref": "PathElement"
          }
        },
        "partitionId": {
          "$ref": "PartitionId",
          "description": "Entities are partitioned into subsets, currently identified by a project\nID and namespace ID.\nQueries are scoped to a single partition."
        }
      },
      "id": "Key",
      "description": "A unique identifier for a Datastore entity.\nIf a key's partition ID or any of its path kinds or names are\nreserved/read-only, the key is reserved/read-only.\nA reserved/read-only key is forbidden in certain documented contexts.",
      "type": "object"
    },
    "ListOperationsResponse": {
      "properties": {
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "operations": {
          "description": "A list of operations that matches the specified filter in the request.",
          "type": "array",
          "items": {
            "$ref": "Operation"
          }
        }
      },
      "id": "ListOperationsResponse",
      "description": "The response message for Operations.ListOperations.",
      "type": "object"
    },
    "InspectContentRequest": {
      "properties": {
        "items": {
          "description": "The list of items to inspect. Items in a single request are\nconsidered \"related\" unless inspect_config.independent_inputs is true.\nUp to 100 are allowed per request.",
          "type": "array",
          "items": {
            "$ref": "ContentItem"
          }
        },
        "inspectConfig": {
          "$ref": "InspectConfig",
          "description": "Configuration for the inspector."
        }
      },
      "id": "InspectContentRequest",
      "description": "Request to search for potentially sensitive info in a list of items.",
      "type": "object"
    },
    "PropertyReference": {
      "properties": {
        "name": {
          "description": "The name of the property.\nIf name includes \".\"s, it may be interpreted as a property name path.",
          "type": "string"
        }
      },
      "id": "PropertyReference",
      "description": "A reference to a property relative to the Datastore kind expressions.",
      "type": "object"
    },
    "Projection": {
      "properties": {
        "property": {
          "description": "The property to project.",
          "$ref": "PropertyReference"
        }
      },
      "id": "Projection",
      "description": "A representation of a Datastore property in a projection.",
      "type": "object"
    },
    "InfoTypeDescription": {
      "description": "Info type description.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Internal name of the info type.",
          "type": "string"
        },
        "displayName": {
          "description": "Human readable form of the info type name.",
          "type": "string"
        },
        "categories": {
          "description": "List of categories this info type belongs to.",
          "type": "array",
          "items": {
            "$ref": "CategoryDescription"
          }
        }
      },
      "id": "InfoTypeDescription"
    },
    "ImageLocation": {
      "description": "Bounding box encompassing detected text within an image.",
      "type": "object",
      "properties": {
        "width": {
          "description": "Width of the bounding box in pixels.",
          "format": "int32",
          "type": "integer"
        },
        "height": {
          "description": "Height of the bounding box in pixels.",
          "format": "int32",
          "type": "integer"
        },
        "top": {
          "description": "Top coordinate of the bounding box. (0,0) is upper left.",
          "format": "int32",
          "type": "integer"
        },
        "left": {
          "description": "Left coordinate of the bounding box. (0,0) is upper left.",
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "ImageLocation"
    },
    "CloudStorageKey": {
      "properties": {
        "filePath": {
          "description": "Path to the file.",
          "type": "string"
        },
        "startOffset": {
          "description": "Byte offset of the referenced data in the file.",
          "format": "int64",
          "type": "string"
        }
      },
      "id": "CloudStorageKey",
      "description": "Record key for a finding in a Cloud Storage file.",
      "type": "object"
    },
    "DatastoreOptions": {
      "properties": {
        "partitionId": {
          "description": "A partition ID identifies a grouping of entities. The grouping is always\nby project and namespace, however the namespace ID may be empty.",
          "$ref": "PartitionId"
        },
        "kind": {
          "$ref": "KindExpression",
          "description": "The kind to process."
        },
        "projection": {
          "description": "Properties to scan. If none are specified, all properties will be scanned\nby default.",
          "type": "array",
          "items": {
            "$ref": "Projection"
          }
        }
      },
      "id": "DatastoreOptions",
      "description": "Options defining a data set within Google Cloud Datastore.",
      "type": "object"
    }
  },
  "protocol": "rest",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "canonicalName": "DLP",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "View and manage your data across Google Cloud Platform services"
        }
      }
    }
  },
  "rootUrl": "https://dlp.googleapis.com/",
  "ownerDomain": "google.com",
  "name": "dlp",
  "batchPath": "batch",
  "title": "DLP API",
  "ownerName": "Google",
  "resources": {
    "inspect": {
      "resources": {
        "results": {
          "resources": {
            "findings": {
              "methods": {
                "list": {
                  "path": "v2beta1/{+name}/findings",
                  "id": "dlp.inspect.results.findings.list",
                  "description": "Returns list of results for given inspect operation result set id.",
                  "response": {
                    "$ref": "ListInspectFindingsResponse"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "description": "Identifier of the results set returned as metadata of\nthe longrunning operation created by a call to CreateInspectOperation.\nShould be in the format of `inspect/results/{id}.",
                      "required": true,
                      "type": "string",
                      "pattern": "^inspect/results/[^/]+$",
                      "location": "path"
                    },
                    "pageToken": {
                      "description": "The value returned by the last `ListInspectFindingsResponse`; indicates\nthat this is a continuation of a prior `ListInspectFindings` call, and that\nthe system should return the next page of data.",
                      "type": "string",
                      "location": "query"
                    },
                    "pageSize": {
                      "description": "Maximum number of results to return.\nIf 0, the implementation will select a reasonable value.",
                      "format": "int32",
                      "type": "integer",
                      "location": "query"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v2beta1/inspect/results/{resultsId}/findings"
                }
              }
            }
          }
        },
        "operations": {
          "methods": {
            "create": {
              "response": {
                "$ref": "Operation"
              },
              "parameterOrder": [],
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {},
              "flatPath": "v2beta1/inspect/operations",
              "path": "v2beta1/inspect/operations",
              "id": "dlp.inspect.operations.create",
              "description": "Schedule a job scanning content in a Google Cloud Platform data repository.",
              "request": {
                "$ref": "CreateInspectOperationRequest"
              }
            },
            "cancel": {
              "httpMethod": "POST",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "Empty"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "name": {
                  "description": "The name of the operation resource to be cancelled.",
                  "required": true,
                  "type": "string",
                  "pattern": "^inspect/operations/[^/]+$",
                  "location": "path"
                }
              },
              "flatPath": "v2beta1/inspect/operations/{operationsId}:cancel",
              "id": "dlp.inspect.operations.cancel",
              "path": "v2beta1/{+name}:cancel",
              "description": "Cancels an operation. Use the get method to check whether the cancellation succeeded or whether the operation completed despite cancellation.",
              "request": {
                "$ref": "CancelOperationRequest"
              }
            },
            "delete": {
              "httpMethod": "DELETE",
              "response": {
                "$ref": "Empty"
              },
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "description": "The name of the operation resource to be deleted.",
                  "required": true,
                  "type": "string",
                  "pattern": "^inspect/operations/[^/]+$",
                  "location": "path"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v2beta1/inspect/operations/{operationsId}",
              "id": "dlp.inspect.operations.delete",
              "path": "v2beta1/{+name}",
              "description": "This method is not supported and the server returns `UNIMPLEMENTED`."
            },
            "list": {
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "GET",
              "response": {
                "$ref": "ListOperationsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "filter": {
                  "location": "query",
                  "description": "This parameter supports filtering by done, ie done=true or done=false.",
                  "type": "string"
                },
                "name": {
                  "description": "The name of the operation collection.",
                  "required": true,
                  "type": "string",
                  "pattern": "^inspect/operations$",
                  "location": "path"
                },
                "pageToken": {
                  "location": "query",
                  "description": "The list page token.",
                  "type": "string"
                },
                "pageSize": {
                  "location": "query",
                  "description": "The list page size. The max allowed value is 256 and default is 100.",
                  "format": "int32",
                  "type": "integer"
                }
              },
              "flatPath": "v2beta1/inspect/operations",
              "path": "v2beta1/{+name}",
              "id": "dlp.inspect.operations.list",
              "description": "Lists operations that match the specified filter in the request. If the\nserver doesn't support this method, it returns `UNIMPLEMENTED`.\n\nNOTE: the `name` binding below allows API services to override the binding\nto use different resource name schemes, such as `users/*/operations`."
            },
            "get": {
              "id": "dlp.inspect.operations.get",
              "path": "v2beta1/{+name}",
              "description": "Gets the latest state of a long-running operation.  Clients can use this\nmethod to poll the operation result at intervals as recommended by the API\nservice.",
              "httpMethod": "GET",
              "response": {
                "$ref": "Operation"
              },
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "pattern": "^inspect/operations/[^/]+$",
                  "location": "path",
                  "description": "The name of the operation resource.",
                  "required": true,
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v2beta1/inspect/operations/{operationsId}"
            }
          }
        }
      }
    },
    "content": {
      "methods": {
        "inspect": {
          "httpMethod": "POST",
          "parameterOrder": [],
          "response": {
            "$ref": "InspectContentResponse"
          },
          "parameters": {},
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "flatPath": "v2beta1/content:inspect",
          "id": "dlp.content.inspect",
          "path": "v2beta1/content:inspect",
          "request": {
            "$ref": "InspectContentRequest"
          },
          "description": "Find potentially sensitive info in a list of strings.\nThis method has limits on input size, processing time, and output size."
        },
        "redact": {
          "description": "Redact potentially sensitive info from a list of strings.\nThis method has limits on input size, processing time, and output size.",
          "request": {
            "$ref": "RedactContentRequest"
          },
          "response": {
            "$ref": "RedactContentResponse"
          },
          "parameterOrder": [],
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameters": {},
          "flatPath": "v2beta1/content:redact",
          "path": "v2beta1/content:redact",
          "id": "dlp.content.redact"
        }
      }
    },
    "rootCategories": {
      "resources": {
        "infoTypes": {
          "methods": {
            "list": {
              "response": {
                "$ref": "ListInfoTypesResponse"
              },
              "parameterOrder": [
                "category"
              ],
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "category": {
                  "pattern": "^[^/]+$",
                  "location": "path",
                  "description": "Category name as returned by ListRootCategories.",
                  "required": true,
                  "type": "string"
                },
                "languageCode": {
                  "description": "Optional BCP-47 language code for localized info type friendly\nnames. If omitted, or if localized strings are not available,\nen-US strings will be returned.",
                  "type": "string",
                  "location": "query"
                }
              },
              "flatPath": "v2beta1/rootCategories/{rootCategoriesId}/infoTypes",
              "path": "v2beta1/rootCategories/{+category}/infoTypes",
              "id": "dlp.rootCategories.infoTypes.list",
              "description": "Returns sensitive information types for given category."
            }
          }
        }
      },
      "methods": {
        "list": {
          "description": "Returns the list of root categories of sensitive information.",
          "parameterOrder": [],
          "httpMethod": "GET",
          "response": {
            "$ref": "ListRootCategoriesResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameters": {
            "languageCode": {
              "description": "Optional language code for localized friendly category names.\nIf omitted or if localized strings are not available,\nen-US strings will be returned.",
              "type": "string",
              "location": "query"
            }
          },
          "flatPath": "v2beta1/rootCategories",
          "path": "v2beta1/rootCategories",
          "id": "dlp.rootCategories.list"
        }
      }
    }
  },
  "parameters": {
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "pp": {
      "location": "query",
      "description": "Pretty-print response.",
      "type": "boolean",
      "default": "true"
    },
    "bearer_token": {
      "location": "query",
      "description": "OAuth bearer token.",
      "type": "string"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    },
    "prettyPrint": {
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "default": "true"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query"
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "description": "Data format for response.",
      "default": "json"
    }
  },
  "version": "v2beta1",
  "baseUrl": "https://dlp.googleapis.com/"
}
