{
  "id": "cloudtrace:v1",
  "revision": "20170208",
  "documentationLink": "https://cloud.google.com/trace",
  "discoveryVersion": "v1",
  "version_module": "True",
  "schemas": {
    "TraceSpan": {
      "description": "A span represents a single timed event within a trace. Spans can be nested\nand form a trace tree. Often, a trace contains a root span that describes the\nend-to-end latency of an operation and, optionally, one or more subspans for\nits suboperations. Spans do not need to be contiguous. There may be gaps\nbetween spans in a trace.",
      "type": "object",
      "properties": {
        "spanId": {
          "type": "string",
          "description": "Identifier for the span. Must be a 64-bit integer other than 0 and\nunique within a trace.",
          "format": "uint64"
        },
        "parentSpanId": {
          "description": "ID of the parent span, if any. Optional.",
          "format": "uint64",
          "type": "string"
        },
        "endTime": {
          "type": "string",
          "description": "End time of the span in nanoseconds from the UNIX epoch.",
          "format": "google-datetime"
        },
        "startTime": {
          "description": "Start time of the span in nanoseconds from the UNIX epoch.",
          "format": "google-datetime",
          "type": "string"
        },
        "kind": {
          "description": "Distinguishes between spans generated in a particular context. For example,\ntwo spans with the same name may be distinguished using `RPC_CLIENT`\nand `RPC_SERVER` to identify queueing latency associated with the span.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified.",
            "Indicates that the span covers server-side handling of an RPC or other\nremote network request.",
            "Indicates that the span covers the client-side wrapper around an RPC or\nother remote request."
          ],
          "enum": [
            "SPAN_KIND_UNSPECIFIED",
            "RPC_SERVER",
            "RPC_CLIENT"
          ]
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Collection of labels associated with the span. Label keys must be less than\n128 bytes. Label values must be less than 16 kilobytes."
        },
        "name": {
          "description": "Name of the span. Must be less than 128 bytes. The span name is sanitized\nand displayed in the Stackdriver Trace tool in the\n{% dynamic print site_values.console_name %}.\nThe name may be a method name or some other per-call site name.\nFor the same executable and the same call point, a best practice is\nto use a consistent name, which makes it easier to correlate\ncross-trace spans.",
          "type": "string"
        }
      },
      "id": "TraceSpan"
    },
    "ListTracesResponse": {
      "description": "The response message for the `ListTraces` method.",
      "type": "object",
      "properties": {
        "traces": {
          "description": "List of trace records returned.",
          "type": "array",
          "items": {
            "$ref": "Trace"
          }
        },
        "nextPageToken": {
          "description": "If defined, indicates that there are more traces that match the request\nand that this value should be passed to the next request to continue\nretrieving additional traces.",
          "type": "string"
        }
      },
      "id": "ListTracesResponse"
    },
    "Empty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated\nempty messages in your APIs. A typical example is to use it as the request\nor the response type of an API method. For instance:\n\n    service Foo {\n      rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty);\n    }\n\nThe JSON representation for `Empty` is empty JSON object `{}`.",
      "type": "object",
      "properties": {},
      "id": "Empty"
    },
    "Trace": {
      "description": "A trace describes how long it takes for an application to perform an\noperation. It consists of a set of spans, each of which represent a single\ntimed event within the operation.",
      "type": "object",
      "properties": {
        "projectId": {
          "description": "Project ID of the Cloud project where the trace data is stored.",
          "type": "string"
        },
        "spans": {
          "description": "Collection of spans in the trace.",
          "type": "array",
          "items": {
            "$ref": "TraceSpan"
          }
        },
        "traceId": {
          "description": "Globally unique identifier for the trace. This identifier is a 128-bit\nnumeric value formatted as a 32-byte hex string.",
          "type": "string"
        }
      },
      "id": "Trace"
    },
    "Traces": {
      "description": "List of new or updated traces.",
      "type": "object",
      "properties": {
        "traces": {
          "type": "array",
          "items": {
            "$ref": "Trace"
          },
          "description": "List of traces."
        }
      },
      "id": "Traces"
    }
  },
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "protocol": "rest",
  "canonicalName": "Cloud Trace",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/trace.readonly": {
          "description": "Read Trace data for a project or application"
        },
        "https://www.googleapis.com/auth/trace.append": {
          "description": "Write Trace data for a project or application"
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "View and manage your data across Google Cloud Platform services"
        }
      }
    }
  },
  "rootUrl": "https://cloudtrace.googleapis.com/",
  "ownerDomain": "google.com",
  "name": "cloudtrace",
  "batchPath": "batch",
  "title": "Stackdriver Trace API",
  "ownerName": "Google",
  "resources": {
    "projects": {
      "methods": {
        "patchTraces": {
          "description": "Sends new traces to Stackdriver Trace or updates existing traces. If the ID\nof a trace that you send matches that of an existing trace, any fields\nin the existing trace and its spans are overwritten by the provided values,\nand any new fields provided are merged with the existing trace data. If the\nID does not match, a new trace is created.",
          "request": {
            "$ref": "Traces"
          },
          "httpMethod": "PATCH",
          "parameterOrder": [
            "projectId"
          ],
          "response": {
            "$ref": "Empty"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/trace.append"
          ],
          "parameters": {
            "projectId": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "ID of the Cloud project where the trace data is stored."
            }
          },
          "flatPath": "v1/projects/{projectId}/traces",
          "id": "cloudtrace.projects.patchTraces",
          "path": "v1/projects/{projectId}/traces"
        }
      },
      "resources": {
        "traces": {
          "methods": {
            "list": {
              "response": {
                "$ref": "ListTracesResponse"
              },
              "parameterOrder": [
                "projectId"
              ],
              "httpMethod": "GET",
              "parameters": {
                "orderBy": {
                  "location": "query",
                  "description": "Field used to sort the returned traces. Optional.\nCan be one of the following:\n\n*   `trace_id`\n*   `name` (`name` field of root span in the trace)\n*   `duration` (difference between `end_time` and `start_time` fields of\n     the root span)\n*   `start` (`start_time` field of the root span)\n\nDescending order can be specified by appending `desc` to the sort field\n(for example, `name desc`).\n\nOnly one sort field is permitted.",
                  "type": "string"
                },
                "projectId": {
                  "location": "path",
                  "description": "ID of the Cloud project where the trace data is stored.",
                  "required": true,
                  "type": "string"
                },
                "filter": {
                  "description": "An optional filter for the request.",
                  "type": "string",
                  "location": "query"
                },
                "endTime": {
                  "location": "query",
                  "description": "Start of the time interval (inclusive) during which the trace data was\ncollected from the application.",
                  "format": "google-datetime",
                  "type": "string"
                },
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "Token identifying the page of results to return. If provided, use the\nvalue of the `next_page_token` field from a previous request. Optional."
                },
                "startTime": {
                  "location": "query",
                  "description": "End of the time interval (inclusive) during which the trace data was\ncollected from the application.",
                  "format": "google-datetime",
                  "type": "string"
                },
                "pageSize": {
                  "description": "Maximum number of traces to return. If not specified or \u003c= 0, the\nimplementation selects a reasonable value.  The implementation may\nreturn fewer traces than the requested page size. Optional.",
                  "format": "int32",
                  "type": "integer",
                  "location": "query"
                },
                "view": {
                  "location": "query",
                  "enum": [
                    "VIEW_TYPE_UNSPECIFIED",
                    "MINIMAL",
                    "ROOTSPAN",
                    "COMPLETE"
                  ],
                  "description": "Type of data returned for traces in the list. Optional. Default is\n`MINIMAL`.",
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/trace.readonly"
              ],
              "flatPath": "v1/projects/{projectId}/traces",
              "path": "v1/projects/{projectId}/traces",
              "id": "cloudtrace.projects.traces.list",
              "description": "Returns of a list of traces that match the specified filter conditions."
            },
            "get": {
              "httpMethod": "GET",
              "parameterOrder": [
                "projectId",
                "traceId"
              ],
              "response": {
                "$ref": "Trace"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/trace.readonly"
              ],
              "parameters": {
                "projectId": {
                  "description": "ID of the Cloud project where the trace data is stored.",
                  "required": true,
                  "type": "string",
                  "location": "path"
                },
                "traceId": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "ID of the trace to return."
                }
              },
              "flatPath": "v1/projects/{projectId}/traces/{traceId}",
              "id": "cloudtrace.projects.traces.get",
              "path": "v1/projects/{projectId}/traces/{traceId}",
              "description": "Gets a single trace by its ID."
            }
          }
        }
      }
    }
  },
  "parameters": {
    "pp": {
      "location": "query",
      "description": "Pretty-print response.",
      "type": "boolean",
      "default": "true"
    },
    "bearer_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth bearer token."
    },
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "default": "true"
    },
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "uploadType": {
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string"
    },
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query"
    },
    "alt": {
      "description": "Data format for response.",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query"
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    }
  },
  "version": "v1",
  "baseUrl": "https://cloudtrace.googleapis.com/",
  "servicePath": "",
  "kind": "discovery#restDescription",
  "description": "Send and retrieve trace data from Stackdriver Trace. Data is generated and available by default for all App Engine applications. Data from other applications can be written to Stackdriver Trace for display, reporting, and analysis.\n",
  "basePath": ""
}
