{
  "basePath": "",
  "ownerDomain": "google.com",
  "name": "people",
  "batchPath": "batch",
  "id": "people:v1",
  "revision": "20170209",
  "documentationLink": "https://developers.google.com/people/",
  "title": "Google People API",
  "discoveryVersion": "v1",
  "ownerName": "Google",
  "version_module": "True",
  "resources": {
    "people": {
      "methods": {
        "getBatchGet": {
          "httpMethod": "GET",
          "response": {
            "$ref": "GetPeopleResponse"
          },
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/contacts",
            "https://www.googleapis.com/auth/contacts.readonly",
            "https://www.googleapis.com/auth/plus.login",
            "https://www.googleapis.com/auth/user.addresses.read",
            "https://www.googleapis.com/auth/user.birthday.read",
            "https://www.googleapis.com/auth/user.emails.read",
            "https://www.googleapis.com/auth/user.phonenumbers.read",
            "https://www.googleapis.com/auth/userinfo.email",
            "https://www.googleapis.com/auth/userinfo.profile"
          ],
          "parameters": {
            "requestMask.includeField": {
              "type": "string",
              "location": "query",
              "description": "Comma-separated list of fields to be included in the response. Omitting\nthis field will include all fields except for connections.list requests,\nwhich have a default mask that includes common fields like metadata, name,\nphoto, and profile url.\nEach path should start with `person.`: for example, `person.names` or\n`person.photos`.",
              "format": "google-fieldmask"
            },
            "resourceNames": {
              "type": "string",
              "repeated": true,
              "location": "query",
              "description": "The resource name, such as one returned by\n[`people.connections.list`](/people/api/rest/v1/people.connections/list),\nof one of the people to provide information about. You can include this\nparameter up to 50 times in one request."
            }
          },
          "flatPath": "v1/people:batchGet",
          "id": "people.people.getBatchGet",
          "path": "v1/people:batchGet",
          "description": "Provides information about a list of specific people by specifying a list\nof requested resource names. Use `people/me` to indicate the authenticated\nuser."
        },
        "get": {
          "description": "Provides information about a person resource for a resource name. Use\n`people/me` to indicate the authenticated user.",
          "httpMethod": "GET",
          "response": {
            "$ref": "Person"
          },
          "parameterOrder": [
            "resourceName"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/contacts",
            "https://www.googleapis.com/auth/contacts.readonly",
            "https://www.googleapis.com/auth/plus.login",
            "https://www.googleapis.com/auth/user.addresses.read",
            "https://www.googleapis.com/auth/user.birthday.read",
            "https://www.googleapis.com/auth/user.emails.read",
            "https://www.googleapis.com/auth/user.phonenumbers.read",
            "https://www.googleapis.com/auth/userinfo.email",
            "https://www.googleapis.com/auth/userinfo.profile"
          ],
          "parameters": {
            "resourceName": {
              "pattern": "^people/[^/]+$",
              "location": "path",
              "description": "The resource name of the person to provide information about.\n\n- To get information about the authenticated user, specify `people/me`.\n- To get information about any user, specify the resource name that\n  identifies the user, such as the resource names returned by\n  [`people.connections.list`](/people/api/rest/v1/people.connections/list).",
              "required": true,
              "type": "string"
            },
            "requestMask.includeField": {
              "description": "Comma-separated list of fields to be included in the response. Omitting\nthis field will include all fields except for connections.list requests,\nwhich have a default mask that includes common fields like metadata, name,\nphoto, and profile url.\nEach path should start with `person.`: for example, `person.names` or\n`person.photos`.",
              "format": "google-fieldmask",
              "type": "string",
              "location": "query"
            }
          },
          "flatPath": "v1/people/{peopleId}",
          "id": "people.people.get",
          "path": "v1/{+resourceName}"
        }
      },
      "resources": {
        "me": {
          "resources": {
            "connections": {
              "methods": {
                "list": {
                  "description": "Provides a list of the authenticated user's contacts merged with any\nlinked profiles.",
                  "response": {
                    "$ref": "ListConnectionsResponse"
                  },
                  "parameterOrder": [],
                  "httpMethod": "GET",
                  "parameters": {
                    "pageToken": {
                      "description": "The token of the page to be returned.",
                      "type": "string",
                      "location": "query"
                    },
                    "pageSize": {
                      "location": "query",
                      "description": "The number of connections to include in the response. Valid values are\nbetween 1 and 500, inclusive. Defaults to 100.",
                      "format": "int32",
                      "type": "integer"
                    },
                    "requestMask.includeField": {
                      "location": "query",
                      "description": "Comma-separated list of fields to be included in the response. Omitting\nthis field will include all fields except for connections.list requests,\nwhich have a default mask that includes common fields like metadata, name,\nphoto, and profile url.\nEach path should start with `person.`: for example, `person.names` or\n`person.photos`.",
                      "format": "google-fieldmask",
                      "type": "string"
                    },
                    "sortOrder": {
                      "location": "query",
                      "enum": [
                        "LAST_MODIFIED_ASCENDING",
                        "FIRST_NAME_ASCENDING",
                        "LAST_NAME_ASCENDING"
                      ],
                      "description": "The order in which the connections should be sorted. Defaults to\n`LAST_MODIFIED_ASCENDING`.",
                      "type": "string"
                    },
                    "syncToken": {
                      "description": "A sync token, returned by a previous call to `people.connections.list`.\nOnly resources changed since the sync token was created will be returned.",
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/contacts",
                    "https://www.googleapis.com/auth/contacts.readonly"
                  ],
                  "flatPath": "v1/people/me/connections",
                  "path": "v1/people/me/connections",
                  "id": "people.people.me.connections.list"
                }
              }
            }
          }
        }
      }
    }
  },
  "parameters": {
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    },
    "pp": {
      "location": "query",
      "description": "Pretty-print response.",
      "type": "boolean",
      "default": "true"
    },
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    },
    "bearer_token": {
      "description": "OAuth bearer token.",
      "type": "string",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "default": "true",
      "location": "query"
    },
    "uploadType": {
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string"
    },
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "type": "string"
    },
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "description": "Data format for response.",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    }
  },
  "schemas": {
    "RelationshipStatus": {
      "description": "A person's read-only relationship status.",
      "type": "object",
      "properties": {
        "metadata": {
          "description": "Metadata about the relationship status.",
          "$ref": "FieldMetadata"
        },
        "value": {
          "description": "The relationship status. The value can be custom or predefined.\nPossible values include, but are not limited to, the following:\n\n* `single`\n* `inARelationship`\n* `engaged`\n* `married`\n* `itsComplicated`\n* `openRelationship`\n* `widowed`\n* `inDomesticPartnership`\n* `inCivilUnion`",
          "type": "string"
        },
        "formattedValue": {
          "description": "The read-only value of the relationship status translated and formatted in\nthe viewer's account locale or the `Accept-Language` HTTP header locale.",
          "type": "string"
        }
      },
      "id": "RelationshipStatus"
    },
    "Date": {
      "type": "object",
      "properties": {
        "month": {
          "description": "Month of year. Must be from 1 to 12.",
          "format": "int32",
          "type": "integer"
        },
        "year": {
          "description": "Year of date. Must be from 1 to 9999, or 0 if specifying a date without\na year.",
          "format": "int32",
          "type": "integer"
        },
        "day": {
          "description": "Day of month. Must be from 1 to 31 and valid for the year and month, or 0\nif specifying a year/month where the day is not significant.",
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "Date",
      "description": "Represents a whole calendar date, for example a date of birth. The time\nof day and time zone are either specified elsewhere or are not\nsignificant. The date is relative to the\n[Proleptic Gregorian Calendar](https://en.wikipedia.org/wiki/Proleptic_Gregorian_calendar).\nThe day may be 0 to represent a year and month where the day is not\nsignificant. The year may be 0 to represent a month and day independent\nof year; for example, anniversary date."
    },
    "Tagline": {
      "id": "Tagline",
      "description": "A read-only brief one-line description of the person.",
      "type": "object",
      "properties": {
        "metadata": {
          "description": "Metadata about the tagline.",
          "$ref": "FieldMetadata"
        },
        "value": {
          "description": "The tagline.",
          "type": "string"
        }
      }
    },
    "Name": {
      "description": "A person's name. If the name is a mononym, the family name is empty.",
      "type": "object",
      "properties": {
        "honorificPrefix": {
          "description": "The honorific prefixes, such as `Mrs.` or `Dr.`",
          "type": "string"
        },
        "phoneticHonorificSuffix": {
          "description": "The honorific suffixes spelled as they sound.",
          "type": "string"
        },
        "givenName": {
          "description": "The given name.",
          "type": "string"
        },
        "middleName": {
          "description": "The middle name(s).",
          "type": "string"
        },
        "phoneticHonorificPrefix": {
          "description": "The honorific prefixes spelled as they sound.",
          "type": "string"
        },
        "phoneticGivenName": {
          "description": "The given name spelled as it sounds.",
          "type": "string"
        },
        "phoneticFamilyName": {
          "type": "string",
          "description": "The family name spelled as it sounds."
        },
        "familyName": {
          "description": "The family name.",
          "type": "string"
        },
        "metadata": {
          "$ref": "FieldMetadata",
          "description": "Metadata about the name."
        },
        "phoneticMiddleName": {
          "description": "The middle name(s) spelled as they sound.",
          "type": "string"
        },
        "phoneticFullName": {
          "description": "The full name spelled as it sounds.",
          "type": "string"
        },
        "displayNameLastFirst": {
          "description": "The read-only display name with the last name first formatted according to\nthe locale specified by the viewer's account or the\n\u003ccode\u003eAccept-Language\u003c/code\u003e HTTP header.",
          "type": "string"
        },
        "displayName": {
          "description": "The read-only display name formatted according to the locale specified by\nthe viewer's account or the \u003ccode\u003eAccept-Language\u003c/code\u003e HTTP header.",
          "type": "string"
        },
        "honorificSuffix": {
          "description": "The honorific suffixes, such as `Jr.`",
          "type": "string"
        }
      },
      "id": "Name"
    },
    "BraggingRights": {
      "description": "A person's bragging rights.",
      "type": "object",
      "properties": {
        "value": {
          "description": "The bragging rights; for example, `climbed mount everest`.",
          "type": "string"
        },
        "metadata": {
          "$ref": "FieldMetadata",
          "description": "Metadata about the bragging rights."
        }
      },
      "id": "BraggingRights"
    },
    "Locale": {
      "properties": {
        "metadata": {
          "$ref": "FieldMetadata",
          "description": "Metadata about the locale."
        },
        "value": {
          "description": "The well-formed [IETF BCP 47](https://tools.ietf.org/html/bcp47)\nlanguage tag representing the locale.",
          "type": "string"
        }
      },
      "id": "Locale",
      "description": "A person's locale preference.",
      "type": "object"
    },
    "Organization": {
      "description": "A person's past or current organization. Overlapping date ranges are\npermitted.",
      "type": "object",
      "properties": {
        "metadata": {
          "description": "Metadata about the organization.",
          "$ref": "FieldMetadata"
        },
        "title": {
          "type": "string",
          "description": "The person's job title at the organization."
        },
        "location": {
          "description": "The location of the organization office the person works at.",
          "type": "string"
        },
        "current": {
          "type": "boolean",
          "description": "True if the organization is the person's current organization;\nfalse if the organization is a past organization."
        },
        "startDate": {
          "$ref": "Date",
          "description": "The start date when the person joined the organization."
        },
        "formattedType": {
          "type": "string",
          "description": "The read-only type of the organization translated and formatted in the\nviewer's account locale or the `Accept-Language` HTTP header locale."
        },
        "domain": {
          "description": "The domain name associated with the organization; for example, `google.com`.",
          "type": "string"
        },
        "department": {
          "description": "The person's department at the organization.",
          "type": "string"
        },
        "phoneticName": {
          "description": "The phonetic name of the organization.",
          "type": "string"
        },
        "type": {
          "description": "The type of the organization. The type can be custom or predefined.\nPossible values include, but are not limited to, the following:\n\n* `work`\n* `school`",
          "type": "string"
        },
        "jobDescription": {
          "description": "The person's job description at the organization.",
          "type": "string"
        },
        "endDate": {
          "$ref": "Date",
          "description": "The end date when the person left the organization."
        },
        "symbol": {
          "description": "The symbol associated with the organization; for example, a stock ticker\nsymbol, abbreviation, or acronym.",
          "type": "string"
        },
        "name": {
          "description": "The name of the organization.",
          "type": "string"
        }
      },
      "id": "Organization"
    },
    "Biography": {
      "id": "Biography",
      "description": "A person's short biography.",
      "type": "object",
      "properties": {
        "metadata": {
          "description": "Metadata about the biography.",
          "$ref": "FieldMetadata"
        },
        "value": {
          "description": "The short biography.",
          "type": "string"
        },
        "contentType": {
          "description": "The content type of the biography.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified.",
            "Plain text.",
            "HTML text."
          ],
          "enum": [
            "CONTENT_TYPE_UNSPECIFIED",
            "TEXT_PLAIN",
            "TEXT_HTML"
          ]
        }
      }
    },
    "FieldMetadata": {
      "type": "object",
      "properties": {
        "source": {
          "$ref": "Source",
          "description": "The source of the field."
        },
        "verified": {
          "description": "True if the field is verified; false if the field is unverified. A\nverified field is typically a name, email address, phone number, or\nwebsite that has been confirmed to be owned by the person.",
          "type": "boolean"
        },
        "primary": {
          "description": "True if the field is the primary field; false if the field is a secondary\nfield.",
          "type": "boolean"
        }
      },
      "id": "FieldMetadata",
      "description": "Metadata about a field."
    },
    "Source": {
      "type": "object",
      "properties": {
        "etag": {
          "description": "The [HTTP entity tag](https://en.wikipedia.org/wiki/HTTP_ETag) of the\nsource. Used for web cache validation. Only populated in\nperson.metadata.sources.",
          "type": "string"
        },
        "id": {
          "description": "The unique identifier within the source type generated by the server.",
          "type": "string"
        },
        "resourceName": {
          "description": "The resource name of the source. Only set if there is a separate\nresource endpoint.",
          "type": "string"
        },
        "type": {
          "enumDescriptions": [
            "Unspecified.",
            "[Google Account](https://accounts.google.com).",
            "[Google profile](https://profiles.google.com). You can view the\nprofile at https://profiles.google.com/\u003cid\u003e where \u003cid\u003e is the source\nid.",
            "[Google Apps domain profile](https://admin.google.com).",
            "[Google contact](https://contacts.google.com). You can view the\ncontact at https://contact.google.com/\u003cid\u003e where \u003cid\u003e is the source\nid."
          ],
          "enum": [
            "SOURCE_TYPE_UNSPECIFIED",
            "ACCOUNT",
            "PROFILE",
            "DOMAIN_PROFILE",
            "CONTACT"
          ],
          "description": "The source type.",
          "type": "string"
        }
      },
      "id": "Source",
      "description": "The source of a field."
    },
    "RelationshipInterest": {
      "description": "A person's read-only relationship interest .",
      "type": "object",
      "properties": {
        "formattedValue": {
          "description": "The value of the relationship interest translated and formatted in the\nviewer's account locale or the locale specified in the Accept-Language\nHTTP header.",
          "type": "string"
        },
        "metadata": {
          "description": "Metadata about the relationship interest.",
          "$ref": "FieldMetadata"
        },
        "value": {
          "description": "The kind of relationship the person is looking for. The value can be custom\nor predefined. Possible values include, but are not limited to, the\nfollowing values:\n\n* `friend`\n* `date`\n* `relationship`\n* `networking`",
          "type": "string"
        }
      },
      "id": "RelationshipInterest"
    },
    "PersonResponse": {
      "description": "The response for a single person",
      "type": "object",
      "properties": {
        "person": {
          "description": "The person.",
          "$ref": "Person"
        },
        "httpStatusCode": {
          "description": "[HTTP 1.1 status code](http://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html).",
          "format": "int32",
          "type": "integer"
        },
        "requestedResourceName": {
          "description": "The original requested resource name. May be different than the resource\nname on the returned person.\n\nThe resource name can change when adding or removing fields that link a\ncontact and profile such as a verified email, verified phone number, or a\nprofile URL.",
          "type": "string"
        }
      },
      "id": "PersonResponse"
    },
    "Relation": {
      "description": "A person's relation to another person.",
      "type": "object",
      "properties": {
        "metadata": {
          "$ref": "FieldMetadata",
          "description": "Metadata about the relation."
        },
        "type": {
          "description": "The person's relation to the other person. The type can be custom or predefined.\nPossible values include, but are not limited to, the following values:\n\n* `spouse`\n* `child`\n* `mother`\n* `father`\n* `parent`\n* `brother`\n* `sister`\n* `friend`\n* `relative`\n* `domesticPartner`\n* `manager`\n* `assistant`\n* `referredBy`\n* `partner`",
          "type": "string"
        },
        "person": {
          "description": "The name of the other person this relation refers to.",
          "type": "string"
        },
        "formattedType": {
          "type": "string",
          "description": "The type of the relation translated and formatted in the viewer's account\nlocale or the locale specified in the Accept-Language HTTP header."
        }
      },
      "id": "Relation"
    },
    "Occupation": {
      "properties": {
        "metadata": {
          "description": "Metadata about the occupation.",
          "$ref": "FieldMetadata"
        },
        "value": {
          "description": "The occupation; for example, `carpenter`.",
          "type": "string"
        }
      },
      "id": "Occupation",
      "description": "A person's occupation.",
      "type": "object"
    },
    "Person": {
      "type": "object",
      "properties": {
        "events": {
          "description": "The person's events.",
          "type": "array",
          "items": {
            "$ref": "Event"
          }
        },
        "memberships": {
          "description": "The person's group memberships.",
          "type": "array",
          "items": {
            "$ref": "Membership"
          }
        },
        "phoneNumbers": {
          "description": "The person's phone numbers.",
          "type": "array",
          "items": {
            "$ref": "PhoneNumber"
          }
        },
        "coverPhotos": {
          "description": "The person's cover photos.",
          "type": "array",
          "items": {
            "$ref": "CoverPhoto"
          }
        },
        "imClients": {
          "description": "The person's instant messaging clients.",
          "type": "array",
          "items": {
            "$ref": "ImClient"
          }
        },
        "birthdays": {
          "description": "The person's birthdays.",
          "type": "array",
          "items": {
            "$ref": "Birthday"
          }
        },
        "locales": {
          "description": "The person's locale preferences.",
          "type": "array",
          "items": {
            "$ref": "Locale"
          }
        },
        "relationshipInterests": {
          "description": "The kind of relationship the person is looking for.",
          "type": "array",
          "items": {
            "$ref": "RelationshipInterest"
          }
        },
        "urls": {
          "description": "The person's associated URLs.",
          "type": "array",
          "items": {
            "$ref": "Url"
          }
        },
        "nicknames": {
          "description": "The person's nicknames.",
          "type": "array",
          "items": {
            "$ref": "Nickname"
          }
        },
        "names": {
          "description": "The person's names.",
          "type": "array",
          "items": {
            "$ref": "Name"
          }
        },
        "relations": {
          "description": "The person's relations.",
          "type": "array",
          "items": {
            "$ref": "Relation"
          }
        },
        "occupations": {
          "description": "The person's occupations.",
          "type": "array",
          "items": {
            "$ref": "Occupation"
          }
        },
        "emailAddresses": {
          "description": "The person's email addresses.",
          "type": "array",
          "items": {
            "$ref": "EmailAddress"
          }
        },
        "organizations": {
          "description": "The person's past or current organizations.",
          "type": "array",
          "items": {
            "$ref": "Organization"
          }
        },
        "etag": {
          "description": "The [HTTP entity tag](https://en.wikipedia.org/wiki/HTTP_ETag) of the\nresource. Used for web cache validation.",
          "type": "string"
        },
        "braggingRights": {
          "description": "The person's bragging rights.",
          "type": "array",
          "items": {
            "$ref": "BraggingRights"
          }
        },
        "metadata": {
          "$ref": "PersonMetadata",
          "description": "Metadata about the person."
        },
        "residences": {
          "description": "The person's residences.",
          "type": "array",
          "items": {
            "$ref": "Residence"
          }
        },
        "genders": {
          "description": "The person's genders.",
          "type": "array",
          "items": {
            "$ref": "Gender"
          }
        },
        "resourceName": {
          "description": "The resource name for the person, assigned by the server. An ASCII string\nwith a max length of 27 characters. Always starts with `people/`.",
          "type": "string"
        },
        "interests": {
          "type": "array",
          "items": {
            "$ref": "Interest"
          },
          "description": "The person's interests."
        },
        "biographies": {
          "type": "array",
          "items": {
            "$ref": "Biography"
          },
          "description": "The person's biographies."
        },
        "skills": {
          "description": "The person's skills.",
          "type": "array",
          "items": {
            "$ref": "Skill"
          }
        },
        "relationshipStatuses": {
          "description": "The person's relationship statuses.",
          "type": "array",
          "items": {
            "$ref": "RelationshipStatus"
          }
        },
        "photos": {
          "description": "The person's photos.",
          "type": "array",
          "items": {
            "$ref": "Photo"
          }
        },
        "ageRange": {
          "enum": [
            "AGE_RANGE_UNSPECIFIED",
            "LESS_THAN_EIGHTEEN",
            "EIGHTEEN_TO_TWENTY",
            "TWENTY_ONE_OR_OLDER"
          ],
          "description": "The person's age range.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified.",
            "Younger than eighteen.",
            "Between eighteen and twenty.",
            "Twenty-one and older."
          ]
        },
        "taglines": {
          "description": "The person's taglines.",
          "type": "array",
          "items": {
            "$ref": "Tagline"
          }
        },
        "addresses": {
          "description": "The person's street addresses.",
          "type": "array",
          "items": {
            "$ref": "Address"
          }
        }
      },
      "id": "Person",
      "description": "Information about a person merged from various data sources such as the\nauthenticated user's contacts and profile data. Fields other than IDs,\nmetadata, and group memberships are user-edited.\n\nMost fields can have multiple items. The items in a field have no guaranteed\norder, but each non-empty field is guaranteed to have exactly one field with\n`metadata.primary` set to true."
    },
    "GetPeopleResponse": {
      "properties": {
        "responses": {
          "description": "The response for each requested resource name.",
          "type": "array",
          "items": {
            "$ref": "PersonResponse"
          }
        }
      },
      "id": "GetPeopleResponse",
      "type": "object"
    },
    "PhoneNumber": {
      "type": "object",
      "properties": {
        "metadata": {
          "$ref": "FieldMetadata",
          "description": "Metadata about the phone number."
        },
        "type": {
          "description": "The type of the phone number. The type can be custom or predefined.\nPossible values include, but are not limited to, the following:\n\n* `home`\n* `work`\n* `mobile`\n* `homeFax`\n* `workFax`\n* `otherFax`\n* `pager`\n* `workMobile`\n* `workPager`\n* `main`\n* `googleVoice`\n* `other`",
          "type": "string"
        },
        "value": {
          "description": "The phone number.",
          "type": "string"
        },
        "formattedType": {
          "description": "The read-only type of the phone number translated and formatted in the\nviewer's account locale or the the `Accept-Language` HTTP header locale.",
          "type": "string"
        },
        "canonicalForm": {
          "description": "The read-only canonicalized [ITU-T E.164](https://law.resource.org/pub/us/cfr/ibr/004/itu-t.E.164.1.2008.pdf)\nform of the phone number.",
          "type": "string"
        }
      },
      "id": "PhoneNumber",
      "description": "A person's phone number."
    },
    "Photo": {
      "description": "A person's read-only photo. A picture shown next to the person's name to\nhelp others recognize the person.",
      "type": "object",
      "properties": {
        "url": {
          "description": "The URL of the photo.",
          "type": "string"
        },
        "metadata": {
          "$ref": "FieldMetadata",
          "description": "Metadata about the photo."
        }
      },
      "id": "Photo"
    },
    "ListConnectionsResponse": {
      "type": "object",
      "properties": {
        "connections": {
          "description": "The list of people that the requestor is connected to.",
          "type": "array",
          "items": {
            "$ref": "Person"
          }
        },
        "nextSyncToken": {
          "type": "string",
          "description": "The token that can be used to retrieve changes since the last request."
        },
        "nextPageToken": {
          "description": "The token that can be used to retrieve the next page of results.",
          "type": "string"
        }
      },
      "id": "ListConnectionsResponse"
    },
    "Birthday": {
      "type": "object",
      "properties": {
        "metadata": {
          "$ref": "FieldMetadata",
          "description": "Metadata about the birthday."
        },
        "text": {
          "description": "A free-form string representing the user's birthday.",
          "type": "string"
        },
        "date": {
          "description": "The date of the birthday.",
          "$ref": "Date"
        }
      },
      "id": "Birthday",
      "description": "A person's birthday. At least one of the `date` and `text` fields are\nspecified. The `date` and `text` fields typically represent the same\ndate, but are not guaranteed to."
    },
    "Address": {
      "description": "A person's physical address. May be a P.O. box or street address. All fields\nare optional.",
      "type": "object",
      "properties": {
        "extendedAddress": {
          "description": "The extended address of the address; for example, the apartment number.",
          "type": "string"
        },
        "poBox": {
          "description": "The P.O. box of the address.",
          "type": "string"
        },
        "postalCode": {
          "description": "The postal code of the address.",
          "type": "string"
        },
        "region": {
          "description": "The region of the address; for example, the state or province.",
          "type": "string"
        },
        "streetAddress": {
          "description": "The street address.",
          "type": "string"
        },
        "metadata": {
          "description": "Metadata about the address.",
          "$ref": "FieldMetadata"
        },
        "countryCode": {
          "description": "The [ISO 3166-1 alpha-2](http://www.iso.org/iso/country_codes.htm) country\ncode of the address.",
          "type": "string"
        },
        "formattedType": {
          "description": "The read-only type of the address translated and formatted in the viewer's\naccount locale or the `Accept-Language` HTTP header locale.",
          "type": "string"
        },
        "city": {
          "description": "The city of the address.",
          "type": "string"
        },
        "formattedValue": {
          "description": "The unstructured value of the address. If this is not set by the user it\nwill be automatically constructed from structured values.",
          "type": "string"
        },
        "country": {
          "description": "The country of the address.",
          "type": "string"
        },
        "type": {
          "description": "The type of the address. The type can be custom or predefined.\nPossible values include, but are not limited to, the following:\n\n* `home`\n* `work`\n* `other`",
          "type": "string"
        }
      },
      "id": "Address"
    },
    "Residence": {
      "id": "Residence",
      "description": "A person's past or current residence.",
      "type": "object",
      "properties": {
        "metadata": {
          "$ref": "FieldMetadata",
          "description": "Metadata about the residence."
        },
        "current": {
          "description": "True if the residence is the person's current residence;\nfalse if the residence is a past residence.",
          "type": "boolean"
        },
        "value": {
          "description": "The address of the residence.",
          "type": "string"
        }
      }
    },
    "ContactGroupMembership": {
      "description": "A Google contact group membership.",
      "type": "object",
      "properties": {
        "contactGroupId": {
          "description": "The contact group ID for the contact group membership. The contact group\nID can be custom or predefined. Possible values include, but are not\nlimited to, the following:\n\n*  `myContacts`\n*  `starred`\n*  A numerical ID for user-created groups.",
          "type": "string"
        }
      },
      "id": "ContactGroupMembership"
    },
    "PersonMetadata": {
      "description": "The read-only metadata about a person.",
      "type": "object",
      "properties": {
        "objectType": {
          "enum": [
            "OBJECT_TYPE_UNSPECIFIED",
            "PERSON",
            "PAGE"
          ],
          "description": "The type of the person object.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified.",
            "Person.",
            "[Google+ Page.](http://www.google.com/+/brands/)"
          ]
        },
        "linkedPeopleResourceNames": {
          "description": "Resource names of people linked to this resource.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "sources": {
          "description": "The sources of data for the person.",
          "type": "array",
          "items": {
            "$ref": "Source"
          }
        },
        "previousResourceNames": {
          "description": "Any former resource names this person has had. Populated only for\n[`connections.list`](/people/api/rest/v1/people.connections/list) requests\nthat include a sync token.\n\nThe resource name may change when adding or removing fields that link a\ncontact and profile such as a verified email, verified phone number, or\nprofile URL.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "deleted": {
          "description": "True if the person resource has been deleted. Populated only for\n[`connections.list`](/people/api/rest/v1/people.connections/list) requests\nthat include a sync token.",
          "type": "boolean"
        }
      },
      "id": "PersonMetadata"
    },
    "Event": {
      "properties": {
        "formattedType": {
          "type": "string",
          "description": "The read-only type of the event translated and formatted in the\nviewer's account locale or the `Accept-Language` HTTP header locale."
        },
        "metadata": {
          "$ref": "FieldMetadata",
          "description": "Metadata about the event."
        },
        "type": {
          "type": "string",
          "description": "The type of the event. The type can be custom or predefined.\nPossible values include, but are not limited to, the following:\n\n* `anniversary`\n* `other`"
        },
        "date": {
          "$ref": "Date",
          "description": "The date of the event."
        }
      },
      "id": "Event",
      "description": "An event related to the person.",
      "type": "object"
    },
    "Url": {
      "description": "A person's associated URLs.",
      "type": "object",
      "properties": {
        "metadata": {
          "description": "Metadata about the URL.",
          "$ref": "FieldMetadata"
        },
        "type": {
          "description": "The type of the URL. The type can be custom or predefined.\nPossible values include, but are not limited to, the following:\n\n* `home`\n* `work`\n* `blog`\n* `profile`\n* `homePage`\n* `ftp`\n* `reservations`\n* `appInstallPage`: website for a Google+ application.\n* `other`",
          "type": "string"
        },
        "value": {
          "description": "The URL.",
          "type": "string"
        },
        "formattedType": {
          "description": "The read-only type of the URL translated and formatted in the viewer's\naccount locale or the `Accept-Language` HTTP header locale.",
          "type": "string"
        }
      },
      "id": "Url"
    },
    "Gender": {
      "id": "Gender",
      "description": "A person's gender.",
      "type": "object",
      "properties": {
        "value": {
          "description": "The gender for the person. The gender can be custom or predefined.\nPossible values include, but are not limited to, the\nfollowing:\n\n* `male`\n* `female`\n* `other`\n* `unknown`",
          "type": "string"
        },
        "formattedValue": {
          "description": "The read-only value of the gender translated and formatted in the viewer's\naccount locale or the `Accept-Language` HTTP header locale.",
          "type": "string"
        },
        "metadata": {
          "$ref": "FieldMetadata",
          "description": "Metadata about the gender."
        }
      }
    },
    "CoverPhoto": {
      "description": "A person's read-only cover photo. A large image shown on the person's\nprofile page that represents who they are or what they care about.",
      "type": "object",
      "properties": {
        "metadata": {
          "$ref": "FieldMetadata",
          "description": "Metadata about the cover photo."
        },
        "default": {
          "description": "True if the cover photo is the default cover photo;\nfalse if the cover photo is a user-provided cover photo.",
          "type": "boolean"
        },
        "url": {
          "description": "The URL of the cover photo.",
          "type": "string"
        }
      },
      "id": "CoverPhoto"
    },
    "ImClient": {
      "type": "object",
      "properties": {
        "metadata": {
          "$ref": "FieldMetadata",
          "description": "Metadata about the IM client."
        },
        "type": {
          "description": "The type of the IM client. The type can be custom or predefined.\nPossible values include, but are not limited to, the following:\n\n* `home`\n* `work`\n* `other`",
          "type": "string"
        },
        "protocol": {
          "description": "The protocol of the IM client. The protocol can be custom or predefined.\nPossible values include, but are not limited to, the following:\n\n* `aim`\n* `msn`\n* `yahoo`\n* `skype`\n* `qq`\n* `googleTalk`\n* `icq`\n* `jabber`\n* `netMeeting`",
          "type": "string"
        },
        "username": {
          "description": "The user name used in the IM client.",
          "type": "string"
        },
        "formattedProtocol": {
          "description": "The read-only protocol of the IM client formatted in the viewer's account\nlocale or the `Accept-Language` HTTP header locale.",
          "type": "string"
        },
        "formattedType": {
          "description": "The read-only type of the IM client translated and formatted in the\nviewer's account locale or the `Accept-Language` HTTP header locale.",
          "type": "string"
        }
      },
      "id": "ImClient",
      "description": "A person's instant messaging client."
    },
    "Interest": {
      "description": "One of the person's interests.",
      "type": "object",
      "properties": {
        "value": {
          "type": "string",
          "description": "The interest; for example, `stargazing`."
        },
        "metadata": {
          "$ref": "FieldMetadata",
          "description": "Metadata about the interest."
        }
      },
      "id": "Interest"
    },
    "Nickname": {
      "description": "A person's nickname.",
      "type": "object",
      "properties": {
        "value": {
          "description": "The nickname.",
          "type": "string"
        },
        "metadata": {
          "$ref": "FieldMetadata",
          "description": "Metadata about the nickname."
        },
        "type": {
          "enumDescriptions": [
            "Generic nickname.",
            "Maiden name or birth family name. Used when the person's family name has\nchanged as a result of marriage.",
            "Initials.",
            "Google+ profile nickname.",
            "A professional affiliation or other name; for example, `Dr. Smith.`"
          ],
          "enum": [
            "DEFAULT",
            "MAIDEN_NAME",
            "INITIALS",
            "GPLUS",
            "OTHER_NAME"
          ],
          "description": "The type of the nickname.",
          "type": "string"
        }
      },
      "id": "Nickname"
    },
    "EmailAddress": {
      "properties": {
        "metadata": {
          "$ref": "FieldMetadata",
          "description": "Metadata about the email address."
        },
        "type": {
          "description": "The type of the email address. The type can be custom or predefined.\nPossible values include, but are not limited to, the following:\n\n* `home`\n* `work`\n* `other`",
          "type": "string"
        },
        "value": {
          "description": "The email address.",
          "type": "string"
        },
        "formattedType": {
          "description": "The read-only type of the email address translated and formatted in the\nviewer's account locale or the `Accept-Language` HTTP header locale.",
          "type": "string"
        },
        "displayName": {
          "description": "The display name of the email.",
          "type": "string"
        }
      },
      "id": "EmailAddress",
      "description": "A person's email address.",
      "type": "object"
    },
    "Skill": {
      "description": "A skill that the person has.",
      "type": "object",
      "properties": {
        "value": {
          "description": "The skill; for example, `underwater basket weaving`.",
          "type": "string"
        },
        "metadata": {
          "$ref": "FieldMetadata",
          "description": "Metadata about the skill."
        }
      },
      "id": "Skill"
    },
    "DomainMembership": {
      "id": "DomainMembership",
      "description": "A Google Apps Domain membership.",
      "type": "object",
      "properties": {
        "inViewerDomain": {
          "description": "True if the person is in the viewer's Google Apps domain.",
          "type": "boolean"
        }
      }
    },
    "Membership": {
      "description": "A person's read-only membership in a group.",
      "type": "object",
      "properties": {
        "contactGroupMembership": {
          "$ref": "ContactGroupMembership",
          "description": "The contact group membership."
        },
        "domainMembership": {
          "$ref": "DomainMembership",
          "description": "The domain membership."
        },
        "metadata": {
          "description": "Metadata about the membership.",
          "$ref": "FieldMetadata"
        }
      },
      "id": "Membership"
    }
  },
  "protocol": "rest",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "version": "v1",
  "baseUrl": "https://people.googleapis.com/",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/user.addresses.read": {
          "description": "View your street addresses"
        },
        "https://www.googleapis.com/auth/contacts": {
          "description": "Manage your contacts"
        },
        "https://www.googleapis.com/auth/user.emails.read": {
          "description": "View your email addresses"
        },
        "https://www.googleapis.com/auth/userinfo.email": {
          "description": "View your email address"
        },
        "https://www.googleapis.com/auth/user.phonenumbers.read": {
          "description": "View your phone numbers"
        },
        "https://www.googleapis.com/auth/contacts.readonly": {
          "description": "View your contacts"
        },
        "https://www.googleapis.com/auth/user.birthday.read": {
          "description": "View your complete date of birth"
        },
        "https://www.googleapis.com/auth/plus.login": {
          "description": "Know the list of people in your circles, your age range, and language"
        },
        "https://www.googleapis.com/auth/userinfo.profile": {
          "description": "View your basic profile info"
        }
      }
    }
  },
  "kind": "discovery#restDescription",
  "description": "Provides access to information about profiles and contacts.",
  "servicePath": "",
  "rootUrl": "https://people.googleapis.com/"
}
