name: Release Docs

on:
  push:
    tags:
      - "v*"

permissions: {}

jobs:
  release_docs:
    permissions:
      contents: write  #  for mike to push

    name: Release Docs
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4.1.7
        with:
          fetch-depth: 0

      - uses: actions/setup-python@f677139bbe7f9c59b41e40162b753c062f5d49a3 # v5.2.0
        with:
          python-version: "3.12"
          cache: "pip"
          cache-dependency-path: "./docs/scripts/requirements.txt"

      - run: |
          pip install -r docs/scripts/requirements.txt

      - name: Configure Git user
        run: |
          git config --local user.email "github-actions[bot]@users.noreply.github.com"
          git config --local user.name "github-actions[bot]"

      - name: build and push
        run: |
          mike deploy ${{ github.ref_name }} latest --push --update-aliases
          mike set-default --push latest
