name: end to end test

on:
  push:
    branches:
  pull_request:
    branches: [ master ]
  workflow_dispatch:

jobs:
  e2e-tests:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v6
    - name: Set up Go
      uses: actions/setup-go@v5
      with:
        go-version-file: go.mod
    - name: e2e
      run: |
        ./scripts/e2e-test.sh
