name: trivy vulnerability scanner
on:
  push:
jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      - name: Build an image from Dockerfile
        run: |
          make build.docker
      - name: Run trivy
        run: |
          ./scripts/run-trivy.sh 
            
